{%extends 'app/base.html'%}

{% block content %}

<!-- created by hamza le 19/08/2024 -->


<!-- search in proxy filter  -->
<style>
    /* Remove border */
    .select2-container--default .select2-selection--single {
      display: block;
      /* width: 100%; */
      /* min-height: 34px; */
      padding-bottom: 28px;
      
      font-size: 1em;
      line-height: 1.5;
      color: #555;
      background-color: #fff;
      border: #95949454 0.5px solid;
      border-radius: 4px;
      padding-right: 2em; /* Adjust padding to accommodate arrow icon */
      
    }
    /* .select2-container--default{
      max-width: 39.5vw;
      
    } */
  /* Base styles for select2 container */
.select2-container--default {
    /* width: 100%; Full width by default */
    /* max-width: 100%; Override to control max width via JS */
    transition: width 0.3s ease; /* Smooth transition when resizing */
}

/* Responsive adjustments */
@media (max-width: 1024px) {
    .select2-container--default {
        max-width: 30vw; /* Max width for medium screens */
    }
}

@media (max-width: 768px) {
    .select2-container--default {
        max-width: 40vw; /* Max width for small screens */
    }
}

@media (max-width: 480px) {
    .select2-container--default {
        max-width: 60vw; /* Max width for very small screens */
    }
}

  </style>
 
<!-- ============================================== -->

<!-- <h1>{{output}}</h1> -->
<h1 class="mb-4 text-5xl px-6 py-3 text-left font-medium text-gray-700 uppercase tracking-wider">Gestion des Actions 2FA</h1>



<div class="border-t-4 border-t-indigo-500 border-transparent ...">
    <br><br>
</div>

<ul class="flex flex-wrap text-2xl font-medium text-center text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400">
    <li class="me-2">
        <a href="#" aria-current="page" class="no-underline inline-block p-4 text-blue-600 bg-gray-100 rounded-t-lg active dark:bg-gray-800 dark:text-blue-500  active text-left font-medium  uppercase tracking-wider hover:no-underline" id="filterLink">Filter</a>
    </li>
    <!-- {% if selected_role in roles %}
    <li class="me-2">
        <a href="#" class=" no-underline inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300 text-left font-medium text-gray-700 uppercase tracking-wider hover:no-underline" id="uploadLink">upload file</a>
    </li>
    {% endif %} -->
    <li class="me-2">
        <a href="#" class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300 text-left font-medium text-gray-700 uppercase tracking-wider hover:no-underline no-underline" id="downloadLink">export data</a>
    </li>
    

</ul>


<div class="container mx-auto p-4 my-6">
    <div class="flex">
        <!-- Filter Section -->
        <div class="w-full max-w-4xl mx-auto p-6 bg-white rounded-lg shadow-lg" id="filterDiv" style="display: none;">
            <div class="mb-6">
                <form method="get" action="" onsubmit="return submitForm()">
                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 ">
                    <!-- <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 gap "> -->
                        
                        <!-- Proxy Selection -->
                        <div class="relative">
                            <select class="hamza w-full h-12 px-4 py-2 bg-white border border-gray-300 rounded-lg text-gray-700 focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500" name="id_proxy" id="id_proxy">
                                <option value=""  selected>Select Proxy</option>
                                {% for proxy in all_proxies %}
                                <option value="{{ proxy }}" {% if proxy == id_proxy_query %}selected{% endif %}>{{ proxy }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <!-- Status Selection -->
                        <div class="relative">
                            <select class="w-full h-12 px-4 py-2 bg-white border border-gray-300 rounded-lg text-gray-700 focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500" name="statue_2FA" id="statue_2FA">
                                <option value=""  selected>Select Status 2FA</option> 
                                <option value="success">Success</option> 
                                <option value="failed">Failed</option>
                            </select> 
                        </div>
                        
                        
                        <div class="form-group col-span-1">
                            <input type="number" class="form-control1 form-control-sm form-select1 peer h-full w-full rounded-[7px] border border-blue-gray-200 border-t-transparent bg-transparent px-3 py-1 font-sans font-normal text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border placeholder-shown:border-blue-gray-200 placeholder-shown:border-t-blue-gray-200 empty:!bg-white focus:border-2 focus:border-gray-900 focus:border-t-transparent focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50" name="count_filter" id="count_filter" placeholder="Enter count">
                        </div>

                       

                        
                        <!-- Date Range Inputs -->
                        <div class="col-span-2">
                            <div class="flex gap-4 ">
                                <input type="text" class="w-full h-12 px-4 py-2 bg-white border border-gray-300 rounded-lg text-gray-700 placeholder-gray-500 focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500" name="date_action__gte" placeholder="Date Action From (YYYY-MM-DD)">
                                <input type="text" class="w-full h-12 px-4 py-2 bg-white border border-gray-300 rounded-lg text-gray-700 placeholder-gray-500 focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500" name="date_action__lte" placeholder="Date Action To (YYYY-MM-DD)">
                            </div>
                        </div>
                        
                        

                        <!-- Search Button -->
                        <div class="col-span-2 flex justify-center mt-4">
                            <button class="h-12 px-8 py-2 btn btn-primary btn-md ml-[50%]" type="submit">Search</button>
                        </div>
                    </div>
                    
                </form>
            </div>

            <!-- <div class="border-t-4 border-indigo-500 mb-6"></div> -->
        </div>




        <!-- export data  -->
        <div class="flex-none w-1/2 max-w-full px-3" id="downloadDiv" style="display: none;">
            <div class="border-t-2 border-t-indigo-500 border-transparent ...">
                <div class="p-6 pt-0 mt-0 bg-white rounded-lg">
                    <h1 class="mb-4 text-4xl px-6 py-3 text-left font-medium text-gray-700 uppercase tracking-wider mt-8"  >CHOOSE FILE TYPE :</h1> 
                    <div class="flex ml-3">
                        <form method="get" action="{% url 'export_table_actions_2FA' %}" id="export_form">
                            <div class="ml-6 form-group col-md-12 flex">
                                <select id="file_type" name="file_type" class="form-control1 form-control-lg mr-4">
                                    <option value="csv">CSV</option>
                                    <option value="excel">Excel</option>
                                    <option value="text">Text</option>
                                </select>
                                <!-- <input type="hidden" name="id_entity" value="{{ request.GET.id_entity }}">
                                <input type="hidden" name="id_rdp" value="{{ request.GET.id_rdp }}">
                                <input type="hidden" name="id_sess" value="{{ request.GET.id_sess }}"> -->
                                <input type="hidden" name="count_filter" value="{{ request.GET.count_filter }}"> 
                                <input type="hidden" name="id_proxy" value="{{ request.GET.id_proxy }}">
                                <input type="hidden" name="statue_2FA" value="{{ request.GET.statue_2FA }}">
                                <input type="hidden" name="date_action__gte" value="{{ request.GET.date_action__gte }}">
                                <input type="hidden" name="date_action__lte" value="{{ request.GET.date_action__lte }}">
                                <button type="submit" class="btn btn-primary export-button">Export</button>
                            </div>
                        </form>
                    </div>    
                </div>
            </div>
        </div>

 
    </div>
</div>
<!-- =================================================== -->

<!-- count status  -->








<!-- table  -->
<div class="table-container">
    <table class="min-w-full bg-white shadow-md rounded-lg " >
        <thead>
            <tr class="bg-gray-100 text-gray-700 uppercase leading-normal font-bold">
                <th class="py-4 px-6 text-left text-xl"></th>
                <th class="py-4 px-6 text-left text-xl searchable">Seed IDs</th>
                <th class="py-4 px-6 text-left text-xl searchable">Tag</th>
               
                <th class="py-4 px-6 text-left text-xl searchable">Proxy</th>

                

                

                
                
                <!-- =============================== -->
                <th class="py-4 px-6 text-left text-xl searchable">Statue auth</th>
                <th class="py-4 px-6 text-left text-xl searchable">date auth</th>
                <th class="py-4 px-6 text-left text-xl searchable">Statue 2FA</th>
                <th class="py-4 px-6 text-left text-xl searchable">date action 2FA</th>
                <th class="py-4 px-6 text-left text-xl searchable">name 2FA</th>
                <th class="py-4 px-6 text-left text-xl searchable">Codes 2FA</th>
                <th class="py-4 px-6 text-left text-xl searchable">Statue Backup</th>
                <th class="py-4 px-6 text-left text-xl searchable">date Backup</th>
                <th class="py-4 px-6 text-left text-xl searchable">Codes Backup</th>
                <th class="py-4 px-6 text-left text-xl searchable">Number use</th>

                <th class="py-4 px-6 text-left text-xl searchable">service phone</th>
                <th class="py-4 px-6 text-left text-xl searchable">phone number</th>
                
                
            </tr>
        </thead>
        <tbody class="text-gray-700">
            {% for seed in seeds %} 
            <tr class="border-b border-gray-200 hover:bg-gray-50">
                <td class="py-4 px-6"></td>
                
                <td class="py-4 px-6 text-2xl ">
                    <span data-field="order">{{ seed.order }}</span>
                </td>
                
                <td class="py-4 px-6 text-2xl">
                    <span class="align-middle editable" data-field="email">{{ seed.tag }}</span>
                </td>
                
                <td class="py-4 px-6 text-2xl">
                    <span data-field="id_proxy" class="align-middle editable">{{ seed.id_proxy }}</span>
                </td>

                

                <!-- =========================== -->

                <!-- statue_authenticator -->
                <td class="py-4 px-6 text-2xl">
                    {% if seed.statue_authenticator == "success"  %}
                    <span {% if selected_role in roles %} class="align-middle editable badge badge-success rounded-pill d-inline badge-common" {% else %} class="badge badge-success rounded-pill d-inline badge-common" {% endif %} style="background-color: rgb(187, 221, 187); color: rgb(68, 110, 58);" data-field="statue_authenticator">{{ seed.statue_authenticator }}</span>
                    {% elif seed.statue_authenticator == "failed"  %}
                    <span {% if selected_role in roles %} class="align-middle editable badge badge-danger rounded-pill d-inline badge-common" {% else %} class="badge badge-danger rounded-pill d-inline badge-common" {% endif %} style="background-color: rgb(221, 187, 187); color: rgb(110, 58, 68);" data-field="statue_authenticator">{{ seed.statue_authenticator }}</span>
                    {% elif seed.statue_authenticator == "NULL"  %}
                    <span {% if selected_role in roles %} class="align-middle editable badge badge-warning rounded-pill d-inline badge-common" {% else %} class="badge badge-warning rounded-pill d-inline badge-common" {% endif %} style="background-color: rgb(116, 115, 115); color: rgb(255, 255, 255);; color: rgb(255, 255, 255);" data-field="statue_authenticator">{{ seed.statue_authenticator }}</span>
                    {% else %}
                    <span {% if selected_role in roles %}class="align-middle editable badge badge-warning rounded-pill d-inline badge-common" {% else %} class="badge badge-warning rounded-pill d-inline badge-common" {% endif %} data-field="statue_authenticator" style="background-color: rgb(245, 232, 188); color: rgb(90, 60, 31);">{{ seed.statue_authenticator }}</span>
                    {% endif %}
                    
                </td>
                <td class="py-4 px-6 text-2xl">
                    <span {% if selected_role in roles %} class="align-middle" {% endif %} data-field="date_action_authenticator">{{ seed.date_action_authenticator|date:"Y-m-d" }}</span>
                  
                </td>
               

                <!-- statue 2FA -->
                <td class="py-4 px-6 text-2xl">
                    {% if seed.statue_2FA == "success"  %}
                    <span {% if selected_role in roles %} class="align-middle editable badge badge-success rounded-pill d-inline badge-common" {% else %} class="badge badge-success rounded-pill d-inline badge-common" {% endif %} style="background-color: rgb(187, 221, 187); color: rgb(68, 110, 58);" data-field="statue_2FA">{{ seed.statue_2FA }}</span>
                    {% elif seed.statue_2FA == "failed"  %}
                    <span {% if selected_role in roles %} class="align-middle editable badge badge-danger rounded-pill d-inline badge-common" {% else %} class="badge badge-danger rounded-pill d-inline badge-common" {% endif %} style="background-color: rgb(221, 187, 187); color: rgb(110, 58, 68);" data-field="statue_2FA">{{ seed.statue_2FA }}</span>
                    {% elif seed.statue_2FA == "NULL"  %}
                    <span {% if selected_role in roles %} class="align-middle editable badge badge-warning rounded-pill d-inline badge-common" {% else %} class="badge badge-warning rounded-pill d-inline badge-common" {% endif %} style="background-color: rgb(116, 115, 115); color: rgb(255, 255, 255);; color: rgb(255, 255, 255);" data-field="statue_2FA">{{ seed.statue_2FA }}</span>
                    {% else %}
                    <span {% if selected_role in roles %}class="align-middle editable badge badge-warning rounded-pill d-inline badge-common" {% else %} class="badge badge-warning rounded-pill d-inline badge-common" {% endif %} data-field="statue_2FA" style="background-color: rgb(245, 232, 188); color: rgb(90, 60, 31);">{{ seed.statue_2FA }}</span>
                    {% endif %}
                    
                </td>



                <!-- date action 2FA -->
                <td class="py-4 px-6 text-2xl">
                    <span {% if selected_role in roles %} class="align-middle" {% endif %} data-field="date_action_2FA">{{ seed.date_action_2FA|date:"Y-m-d" }}</span>
                    
                </td>
                <!-- name 2FA  -->
                <td class="py-4 px-6 text-2xl">
                    <span {% if selected_role in roles %} class="align-middle editable" {% endif %} data-field="name_2FA">{{ seed.name_2FA }}</span>
                    
                </td>

                <!-- code 2FA -->
                <td class="py-4 px-6 text-2xl">
                    <!-- Preview of code2FA -->
                    <span {% if selected_role in roles %} class="align-middle editable" {% endif %} onclick="showFullCodes(this)">
                        <span class="code-preview">{{ seed.code2FA|slice:":4" }}...</span>  <!-- Show only the first 4 characters of code2FA -->
                    </span>
                
                    <!-- Full code2FA, hidden by default -->
                    <span class="full-codes" style="display:none;" tabindex="0" onblur="hideFullCodes(this)">
                        {{ seed.code2FA }}
                    </span>
                </td>
                
                <!-- statue backup -->
                <td class="py-4 px-6 text-2xl">
                    {% if seed.statue_backup == "success"  %}
                    <span {% if selected_role in roles %} class="align-middle editable badge badge-success rounded-pill d-inline badge-common" {% else %} class="badge badge-success rounded-pill d-inline badge-common" {% endif %} style="background-color: rgb(187, 221, 187); color: rgb(68, 110, 58);" data-field="statue_backup">{{ seed.statue_backup }}</span>
                    {% elif seed.statue_backup == "failed"  %}
                    <span {% if selected_role in roles %} class="align-middle editable badge badge-danger rounded-pill d-inline badge-common" {% else %} class="badge badge-danger rounded-pill d-inline badge-common" {% endif %} style="background-color: rgb(221, 187, 187); color: rgb(110, 58, 68);" data-field="statue_backup">{{ seed.statue_backup }}</span>
                    {% elif seed.statue_backup == "NULL"  %}
                    <span {% if selected_role in roles %} class="align-middle editable badge badge-warning rounded-pill d-inline badge-common" {% else %} class="badge badge-warning rounded-pill d-inline badge-common" {% endif %} style="background-color: rgb(116, 115, 115); color: rgb(255, 255, 255);; color: rgb(255, 255, 255);" data-field="statue_backup">{{ seed.statue_backup }}</span>
                    {% else %}
                    <span {% if selected_role in roles %}class="align-middle editable badge badge-warning rounded-pill d-inline badge-common" {% else %} class="badge badge-warning rounded-pill d-inline badge-common" {% endif %} data-field="statue_backup" style="background-color: rgb(245, 232, 188); color: rgb(90, 60, 31);">{{ seed.statue_backup }}</span>
                    {% endif %}
                    
                </td>
                <td class="py-4 px-6 text-2xl">
                    <span {% if selected_role in roles %} class="align-middle" {% endif %} data-field="date_action_backup">{{ seed.date_action_backup|date:"Y-m-d" }}</span>
                  
                </td>
                

                <!-- Code backup -->
                <td class="py-4 px-6 text-2xl">
                    {% if seed.codes_backup.exists %}
                        <span {% if selected_role in roles %} class="align-middle editable" {% endif %} onclick="showFullCodes(this)">
                            <span class="code-preview">{{ seed.codes_backup.first.code_backup|slice:":10" }}...</span>
                        </span>
                        
                        <!-- Full code list, hidden by default -->
                        <span class="full-codes" style="display:none;" tabindex="0" onblur="hideFullCodes(this)">
                            {% for code in seed.codes_backup.all %}
                            <span {% if selected_role in roles %} class="align-middle editable" {% endif %} data-field="code_backup_{{ forloop.counter }}">
                                {{ code.code_backup }}
                            </span>
                            <!-- hado bach ndir , o nsali b ] -->
                            <!-- {% if not forloop.last %} , {% endif %}
                            {% if forloop.last %}
                            
                            {% endif %} -->
                            {% endfor %}
                        </span>
                    {% else %}
                        <span>No codes</span> 
                    {% endif %}
                </td>
                
                <!-- Number of use -->
                <td class="py-4 px-6 text-2xl">
                    <span {% if selected_role in roles %} class="align-middle editable" {% endif %} data-field="number_use_2FA">{{ seed.number_use_2FA }}</span>
                    
                </td> 


                <!-- service_phone -->
                <td class="py-4 px-6 text-2xl">
                    <span {% if selected_role in roles %} class="align-middle editable" {% endif %} data-field="service_phone">{{ seed.service_phone }}</span>
                 
                </td>

                <!-- phone_number -->
                <td class="py-4 px-6 text-2xl">
                    <span {% if selected_role in roles %} class="align-middle editable" {% endif %} data-field="phone_number">{{ seed.phone_number }}</span>
                 
                </td>
            </tr>
            
            {% endfor %}
        </tbody>
    </table>
</div>


<br><br>

<!-- table count -->
{% if statue_count_items %}
<div class="overflow-x-auto">
    <table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden" >
        <thead>
            <tr class="bg-gray-100 text-gray-700 uppercase leading-normal font-bold">
                <th scope="col" class="px-4 py-3 text-left text-xl font-medium text-gray-700 uppercase tracking-wider" id="ip">statue connect</th>
                <th scope="col" class="px-4 py-3 text-left text-xl font-medium text-gray-700 uppercase tracking-wider">Count</th>
            </tr> 
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
            {% for proxy, count in statue_count_items %}
            <tr class="ip-count-row" data-ip="{{ proxy }}">
                <td class="px-4 py-3 whitespace-nowrap text-2xl">{{ proxy }}</td>
                <td class="px-4 py-3 whitespace-nowrap  text-2xl">{{ count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>
{% endif %}

<br><br>

  <div>

<!-- pagination -->
<div class="clearfix"> 
    <div class="d-flex justify-content-between align-items-center mt-2"> 
        <!-- Align this div to the far left -->
        <div class="hint-text">Showing <b>{{ seeds.start_index }}</b> to <b>{{ seeds.end_index }}</b> of <b>{{ seeds.paginator.count }}</b> entries</div> 
        
        <!-- Align this ul to the center -->
        <ul class="pagination mb-0 custom-pagination" id="pagination" style="margin: 0 auto;"> 
            <!-- Pagination links will be dynamically generated here -->
            <li class="page-item">
                <a class="page-link text-xl px-3 py-2 rounded-l-lg bg-gray-100 text-gray-600 hover:bg-blue-600 hover:text-white transition duration-300" href="#">Previous</a>
            </li>
            <li class="page-item active">
                <a class="page-link text-xl px-3 py-2 bg-blue-600 text-white rounded" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link text-xl px-3 py-2 bg-gray-100 text-gray-600 hover:bg-blue-600 hover:text-white transition duration-300" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link text-xl px-3 py-2 bg-gray-100 text-gray-600 hover:bg-blue-600 hover:text-white transition duration-300" href="#">3</a>
            </li>
            <li class="page-item">
                <a class="page-link text-xl px-3 py-2 rounded-r-lg bg-gray-100 text-gray-600 hover:bg-blue-600 hover:text-white transition duration-300" href="#">Next</a>
            </li>
        </ul> 

        <!-- Align this form to the far right -->
        <form id="columnsForm" method="get" class="d-flex align-items-center ml-3 mt-7"> 
            {% for key, value in request.GET.items %} 
                {% if key != 'columns' %} 
                    <input type="hidden" name="{{ key }}" value="{{ value }}"> 
                {% endif %} 
            {% endfor %} 
            <select class="form-select h-12 text-xl px-3 py-2 border border-gray-300 rounded-lg ml-2" name="columns" id="columns" style="width: 200px;" onchange="changeColumnsPerPage()"> 
                <option value="" id="defaultOption" class="text-xl px-6 py-3 text-left font-medium text-gray-500 uppercase tracking-wider">{{ columns }} éléments par page </option> 
                <option value="2" {% if columns == 2 %} selected {% endif %}>2</option> 
                <option value="4" {% if columns == 4 %} selected {% endif %}>4</option> 
                <option value="10" {% if columns == 10 %} selected {% endif %}>10</option> 
                <option value="50" {% if columns == 50 %} selected {% endif %}>50</option> 
                <option value="100" {% if columns == 100 %} selected {% endif %}>100</option> 
                <option value="1000" {% if columns == 1000 %} selected {% endif %}>1000</option> 
                <option value="{{ seeds.paginator.count }}" {% if columns == seeds.paginator.count %} selected {% endif %}>all</option>

            </select> 
        </form> 
    </div> 
</div>



<script>
    document.addEventListener('DOMContentLoaded', function() {
        const totalPages = parseInt("{{ seeds.paginator.num_pages|default:0 }}");
        const currentPage = parseInt("{{ seeds.number|default:1 }}");
        const columnsPerPage = parseInt("{{ columns|default:10 }}");
        const urlParams = new URLSearchParams(window.location.search);

        function createPageLink(page, text, isActive = false) {
            const li = document.createElement('li');
            li.className = `page-item custom-page-item ${isActive ? 'active' : ''}`;
            const a = document.createElement('a');
            a.className = 'page-link custom-page-link';
            a.href = `?${urlParams.toString()}&page=${page}&columns=${columnsPerPage}`;
            a.textContent = text;
            li.appendChild(a);
            return li;
        }

        function updatePagination() {
            const pagination = document.getElementById('pagination');
            pagination.innerHTML = '';

            

            if (currentPage > 4 ) {
                if (currentPage != 5){
                pagination.appendChild(createPageLink(1, '1'));
                pagination.appendChild(createPageLink(2, '2'));
               
                pagination.appendChild(createPageLink(3, '...'));
            }
            }
            if (currentPage == 5) {
                pagination.appendChild(createPageLink(1, '1'));
                pagination.appendChild(createPageLink(2, '2'));
                // pagination.appendChild(createPageLink(3, '3'));
                // pagination.appendChild(createPageLink(4, '4'));
                pagination.appendChild(createPageLink(5, '...'));
            }
            if (currentPage == 4) {
                pagination.appendChild(createPageLink(1, '1'));
               
            }
            for (let i = Math.max(1, currentPage - 2); i <= Math.min(totalPages, currentPage + 2); i++) {
                pagination.appendChild(createPageLink(i, i, i === currentPage));
            }

            if (currentPage < totalPages - 3) {
                pagination.appendChild(createPageLink(totalPages - 2, '...'));
                
                pagination.appendChild(createPageLink(totalPages - 1, totalPages - 1));
                pagination.appendChild(createPageLink(totalPages, totalPages));
            }

           
        }

        updatePagination();
    });

    
</script>

<script>  
    function changeColumnsPerPage() {  
        var select = document.getElementById("columns");  
        var selectedOption = select.options[select.selectedIndex].value;  
        var defaultOption = document.getElementById("defaultOption");  
        defaultOption.textContent = select.options[select.selectedIndex].textContent;  
        // Mettre à jour la valeur de la colonne dans la session  
        fetch('?columns=' + selectedOption, { method: 'GET' });  
        // Soumettre le formulaire lorsque la sélection change  
        document.getElementById("columnsForm").submit();  
    }  
  
    function exportData() {  
        var select = document.getElementById("export_format_select");  
        var selectedFormat = select.options[select.selectedIndex].value;  
        if (selectedFormat) {  
            // Soumettre le formulaire d'exportation  
            document.getElementById("exportForm").submit();  
        } else {  
            alert("Veuillez sélectionner un format d'exportation.");  
        }  
    }  
</script>





<div id="csrf-token" data-csrf="{{ csrf_token }}"></div>


<script> 
   


// JavaScript for first form (1)
(function() {
    // Function to store selected values in local storage
    function storeSelectedValues() {
        var entity = document.getElementById('id_entity1').value;
        var rdp = document.getElementById('id_rdp1').value;
        var session = document.getElementById('id_sess1').value;
        localStorage.setItem('selectedEntity1', entity);
        localStorage.setItem('selectedRdp1', rdp);
        localStorage.setItem('selectedSession1', session);
    }

    // Function to populate RDP dropdown
    function populateRdpDropdown(data) {
        var select = document.getElementById('id_rdp1');
        var previousValue = select.value; // Save previous value
        select.innerHTML = '';

        var emptyOption = document.createElement('option');
        emptyOption.value = '';
        emptyOption.textContent = 'Select RDP';
        select.appendChild(emptyOption);

        data.forEach(function(rdp) {
            var option = document.createElement('option');
            option.value = rdp.id_rdp;
            option.textContent = rdp.nom;
            select.appendChild(option);
        });

        // Restore previous value if it exists
        if (previousValue) {
            select.value = previousValue;
        }
    }

    // Function to populate Session dropdown
    function populateSessionDropdown(data) {
        var select = document.getElementById('id_sess1');
        var previousValue = select.value; // Save previous value
        select.innerHTML = '';

        var emptyOption = document.createElement('option');
        emptyOption.value = '';
        emptyOption.textContent = 'Select Session';
        select.appendChild(emptyOption);

        data.forEach(function(session) {
            var option = document.createElement('option');
            option.value = session.id_sess;
            option.textContent = session.name;
            select.appendChild(option);
        });

        // Restore previous value if it exists
        if (previousValue) {
            select.value = previousValue;
        }
    }

    // Event for entity dropdown change
    document.getElementById('id_entity1').addEventListener('change', function() {
        var entity_id = this.value;
        fetch('/fetch_rdp/?entity_id=' + entity_id)
            .then(response => response.json())
            .then(data => {
                populateRdpDropdown(data);
            });
    });

    // Event for RDP dropdown change
    document.getElementById('id_rdp1').addEventListener('change', function() {
        var rdp_id = this.value;
        fetch('/fetch_session/?rdp_id=' + rdp_id)
            .then(response => response.json())
            .then(data => {
                populateSessionDropdown(data);
            });
    });

    // Store selected values before form submission
    document.getElementById('import').addEventListener('submit', function() {
        storeSelectedValues();
    });

    // Populate dropdowns with previously selected values on page load
    document.addEventListener('DOMContentLoaded', function() {
        var entityDropdown = document.getElementById('id_entity1');
        var rdpDropdown = document.getElementById('id_rdp1');
        var sessionDropdown = document.getElementById('id_sess1');

        var selectedEntityId = localStorage.getItem('selectedEntity1');
        var selectedRdpId = localStorage.getItem('selectedRdp1');
        var selectedSessionId = localStorage.getItem('selectedSession1');

        // Populate entity dropdown with the previously selected value
        if (selectedEntityId) {
            entityDropdown.value = selectedEntityId;
            // If an entity is selected, also populate the corresponding RDP dropdown
            fetch('/fetch_rdp/?entity_id=' + selectedEntityId)
                .then(response => response.json())
                .then(data => {
                    populateRdpDropdown(data);
                    // Set the previously selected RDP value
                    if (selectedRdpId) {
                        rdpDropdown.value = selectedRdpId;
                        // If an RDP is selected, also populate the corresponding Session dropdown
                        fetch('/fetch_session/?rdp_id=' + selectedRdpId)
                            .then(response => response.json())
                            .then(data => {
                                populateSessionDropdown(data);
                                // Set the previously selected Session value
                                if (selectedSessionId) {
                                    sessionDropdown.value = selectedSessionId;
                                }
                            });
                    }
                });
        }
    });
})();



// end JavaScript for first form (1)


// JavaScript for filters - second form (2)
(function() {
// Fonction pour extraire les paramètres de l'URL 
function getUrlParams(url) { 
        var params = {}; 
        url.slice(url.indexOf('?') + 1).split('&').forEach(function(param) { 
            var paramTuple = param.split('='); 
            params[paramTuple[0]] = decodeURIComponent(paramTuple[1]); 
        }); 
        return params; 
    } 
 
    // Variables pour stocker les valeurs sélectionnées précédemment 
    var urlParams = getUrlParams(window.location.href); 
    // var selectedEntityId = urlParams['id_entity'] || ''; 
    // var selectedRdpId = urlParams['id_rdp'] || ''; 
    // var selectedSessionId = urlParams['id_sess'] || ''; 
    var selectedProxyId = urlParams['id_proxy'] || '';
    var selectedStatue = urlParams['statue'] || '';
    var selectedDateActionGte = urlParams['date_action__gte'] || '';
    var selectedDateActionLte = urlParams['date_action__lte'] || '';
 
    // Fonction pour remplir le menu déroulant RDP avec les valeurs pour une entité donnée 
    function getRdpsForEntity(entityId) { 
        fetch('/fetch_rdp?entity_id=' + entityId) 
            .then(response => response.json()) 
            .then(data => { 
                populateRdpDropdown(data); 
                // Stockez l'ID de l'entité sélectionnée 
                selectedEntityId = entityId; 
            }); 
    } 
 
    // Fonction pour remplir le menu déroulant Session avec les valeurs pour un RDP donné 
    function getSessionsForRdp(rdpId) { 
        fetch('/fetch_session?rdp_id=' + rdpId) 
            .then(response => response.json()) 
            .then(data => { 
                populateSessionDropdown(data); 
                // Stockez l'ID du RDP sélectionné 
                selectedRdpId = rdpId; 
            }); 
    } 
 
    // Remplir les menus déroulants avec les valeurs sélectionnées précédemment 
    document.addEventListener('DOMContentLoaded', function() { 
        var entityDropdown = document.getElementById('id_entity'); 
        var rdpDropdown = document.getElementById('id_rdp'); 
        var sessionDropdown = document.getElementById('id_sess'); 
        var proxyDropdown = document.getElementById('id_proxy');
    var statueDropdown = document.getElementById('statue');
    var dateActionGteInput = document.querySelector('input[name="date_action__gte"]');
    var dateActionLteInput = document.querySelector('input[name="date_action__lte"]'); 
        

        // Populate proxy dropdown
    proxyDropdown.value = selectedProxyId;

// Populate statue dropdown
statueDropdown.value = selectedStatue;

// Populate date action from field
dateActionGteInput.value = selectedDateActionGte;

// Populate date action to field
dateActionLteInput.value = selectedDateActionLte;
        // Remplir le menu déroulant d'entité avec la valeur sélectionnée précédemment 
        if (selectedEntityId) { 
            entityDropdown.value = selectedEntityId; 
            // Si une entité est sélectionnée, remplir également le menu déroulant RDP correspondant 
            if (selectedEntityId) { 
                getRdpsForEntity(selectedEntityId); 
            } 
        } 
 
        // Remplir le menu déroulant RDP avec la valeur sélectionnée précédemment 
        if (selectedRdpId) { 
            rdpDropdown.value = selectedRdpId; 
            // Si un RDP est sélectionné, remplir également le menu déroulant Session correspondant 
            if (selectedRdpId) { 
                getSessionsForRdp(selectedRdpId); 
            } 
        } 
        
 
        // Remplir le menu déroulant Session avec la valeur sélectionnée précédemment 
        if (selectedSessionId) { 
            sessionDropdown.value = selectedSessionId; 
        } 
    }); 
 
    // Function  RDP dropdown 
    function populateRdpDropdown(data) { 
        var select = document.getElementById('id_rdp'); 
        var previousValue = select.value; // Sauvegarde de la valeur précédente 
        select.innerHTML = ''; 
         
        var emptyOption = document.createElement('option'); 
        emptyOption.value = ''; 
        emptyOption.textContent = 'Select RDP'; 
        select.appendChild(emptyOption); 
         
        data.forEach(function(rdp) { 
            var option = document.createElement('option'); 
            option.value = rdp.id_rdp; 
            option.textContent = rdp.nom; 
            select.appendChild(option); 
        }); 
 
        // Restauration de la valeur précédente si elle existe 
        if (previousValue) { 
            select.value = previousValue; 
        } 
    } 
 
    // Function  Session dropdown 
    function populateSessionDropdown(data) { 
        var select = document.getElementById('id_sess'); 
        var previousValue = select.value; // Sauvegarde de la valeur précédente 
 
        select.innerHTML = ''; 
         
        var emptyOption = document.createElement('option'); 
        emptyOption.value = '';
        emptyOption.textContent = 'Select Session'; 
        select.appendChild(emptyOption); 
         
        data.forEach(function(session) { 
            var option = document.createElement('option'); 
            option.value = session.id_sess; 
            option.textContent = session.name; 
            select.appendChild(option); 
        }); 
         // Restauration de la valeur précédente si elle existe 
         if (previousValue) { 
            select.value = previousValue; 
        } 
    } 
 
    // Event  for entity dropdown change 
    document.getElementById('id_entity').addEventListener('change', function() { 
        var entity_id = this.value; 
        fetch('/fetch_rdp/?entity_id=' + entity_id) 
            .then(response => response.json()) 
            .then(data => { 
                populateRdpDropdown(data); 
            }); 
    }); 
 
    // Event  for RDP dropdown change 
    document.getElementById('id_rdp').addEventListener('change', function() { 
        var rdp_id = this.value; 
        fetch('/fetch_session/?rdp_id=' + rdp_id) 
            .then(response => response.json()) 
            .then(data => { 
                populateSessionDropdown(data); 
                // Stockez l'ID du RDP sélectionné 
                selectedRdpId = rdp_id; 
            }); 
    }); 
})();
// end JavaScript for second form (2)
</script>

    
<script>
    $(document).ready(function() {
        let lastClicked = '';

        // Function to toggle filter div
        function toggleFilterDiv() {
            $('#filterDiv').toggle();
            if ($('#filterDiv').is(':visible')) {
                localStorage.setItem('filterVisible', 'true');
            } else {
                localStorage.setItem('filterVisible', 'false');
            }
        }

        // Function to show filter div
        function showFilterDiv() {
            $('#filterDiv').show();
            localStorage.setItem('filterVisible', 'true');
        }

        // Function to hide filter div
        function hideFilterDiv() {
            $('#filterDiv').hide();
            localStorage.setItem('filterVisible', 'false');
        }

        // Function to set active link style
        function setActiveLink(linkName) {
            $('#filterLink, #uploadLink, #downloadLink').removeClass('active text-blue-600 bg-gray-100 dark:bg-gray-800 dark:text-blue-500 no-underline hover:no-underline');
            $('#' + linkName + 'Link').addClass('active text-blue-600 bg-gray-100 dark:bg-gray-800 dark:text-blue-500 no-underline hover:no-underline');
        }

       // Function to adjust the width of the select dropdown
function adjustSelectWidth(isHalfWidth) {
    const selectContainer = $('.select2-container--default');

    if (isHalfWidth) {
        selectContainer.css('width', '100%');
    } else {
        selectContainer.css('min-width', '100%');
    }
}

// Event listeners for tab links
$('#filterLink').click(function(event) {
    event.preventDefault();
    if (lastClicked === 'filter') {
        toggleFilterDiv();
    } else {
        showFilterDiv();
    }
    setActiveLink('filter');
    $('#uploadDiv, #downloadDiv').hide();
    adjustSelectWidth(false); // Set to full width when filter is clicked
    lastClicked = 'filter';
    localStorage.setItem('lastClicked', 'filter');
});

// $('#uploadLink').click(function(event) {
//     event.preventDefault();
//     $('#uploadDiv').toggle();
//     $('#downloadDiv').hide();
//     if ($('#uploadDiv').is(':visible')) {
//         hideFilterDiv();
//         setActiveLink('upload');
//         // adjustSelectWidth(true); // Set to half width when upload is clicked
//         lastClicked = 'upload';
//         localStorage.setItem('lastClicked', 'upload');
//     } 
// });

$('#downloadLink').click(function(event) {
    event.preventDefault();
    $('#downloadDiv').toggle();
    $('#uploadDiv').hide();
    if ($('#downloadDiv').is(':visible')) {
        showFilterDiv();
        setActiveLink('download');
        adjustSelectWidth(true); // Set to half width when download is clicked
        lastClicked = 'download';
        localStorage.setItem('lastClicked', 'download');
    } else {
        hideFilterDiv();
        setActiveLink('download');
        adjustSelectWidth(true); // Set to half width when download is clicked
        lastClicked = 'download';
        localStorage.setItem('lastClicked', 'download');
    }
});


        // Initial setup on page load
        if (localStorage.getItem('filterVisible') !== 'false') {
            $('#filterDiv').show();
        } else {
            $('#filterDiv').hide();
        }

        const activeTab = localStorage.getItem('lastClicked');
        if (activeTab === 'upload') {
            $('#uploadDiv').show();
            $('#downloadDiv').hide();
        } else if (activeTab === 'download') {
            $('#downloadDiv').show();
            $('#uploadDiv').hide();
        } else {
            $('#uploadDiv, #downloadDiv').hide();
        }

        if (activeTab) {
            setActiveLink(activeTab);
            lastClicked = activeTab;
        }
    });
</script>

<script>
    function validateDateFormat(dateString) {
      // Regular expression to check YYYY-MM-DD format
      const dateRegex = /^\d{4}-\d{2}-\d{2}$/;
    
      // Check if the string matches the expected format
      return dateRegex.test(dateString);
    }
    
    function submitForm() {
      const dateFromInput = document.querySelector('input[name="date_action__gte"]');
      const dateToInput = document.querySelector('input[name="date_action__lte"]');
    
      // Validate start date format
      if (dateFromInput.value && !validateDateFormat(dateFromInput.value)) {
        toastr.warning('Le format de la date de début est incorrect. Veuillez entrer une date au format YYYY-MM-DD.');
        return false;
      }
    
      // Validate end date format
      if (dateToInput.value && !validateDateFormat(dateToInput.value)) {
        toastr.warning('Le format de la date de fin est incorrect. Veuillez entrer une date au format YYYY-MM-DD.');
        return false;
      }
    
      // If formats are correct, submit the form
      return true;
    }
    
</script>



    
   <!-- show full backup codes  -->
<script>
    function showFullCodes(element) {
        let preview = element.querySelector('.code-preview');
        let fullCodes = element.nextElementSibling;

        preview.style.display = 'none';  // Hide the preview
        fullCodes.style.display = 'inline';  // Show the full codes
        fullCodes.focus();  // Focus the element to capture the blur event
    }

    function hideFullCodes(element) {
        let fullCodes = element;
        let preview = fullCodes.previousElementSibling.querySelector('.code-preview');

        if (preview) {
            fullCodes.style.display = 'none';  // Hide the full codes
            preview.style.display = 'inline';  // Show the preview again
        }
    }
</script>



     <script>
        $(document).ready(function() {
            $('.hamza').select2();
        });
    </script>

{% endblock %}