{% extends 'app/base.html' %}

{% block content %}
<style>
    /* Style pour le textarea */
    #id_locals_input {
        width: 250px;
        padding: 10px;
        margin-bottom: 10px; /* Marge en bas pour séparer du bouton */
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
        margin-left: 20px;
    }
    
     .fade1 {
        opacity: 1;
        -webkit-transition: opacity  .15s linear;
        -o-transition: opacity .15s linear;
        transition: opacity .15s linear;
    }

    .modal-body-scroll {
    max-height: 500px; /* Ajustez cette valeur selon vos besoins */
    overflow-y: auto;
}
</style>


<!-- search in proxy filter  -->
<style>
    /* Remove border */
    .select2-container--default .select2-selection--single {
      display: block;
      width: 100%;
      /* min-height: 34px; */
      padding-bottom: 28px;
      
      font-size: 1em;
      line-height: 1.5;
      color: #555;
      background-color: #fff;
      border: #95949454 0.5px solid;
      border-radius: 4px;
      padding-right: 2em; /* Adjust padding to accommodate arrow icon */
      
    }
    /* .select2-container--default{
      max-width: 39.5vw;
      
    } */
    
    
/* Responsive adjustments */
@media (max-width: 1024px) {
    .select2-container--default {
        max-width: 30vw; /* Max width for medium screens */
    }
}

@media (max-width: 768px) {
    .select2-container--default {
        max-width: 40vw; /* Max width for small screens */
    }
}

@media (max-width: 480px) {
    .select2-container--default {
        max-width: 60vw; /* Max width for very small screens */
    }
}
  </style>


<h1 class="mb-4 text-5xl px-6 py-3 text-left font-medium text-gray-700 uppercase tracking-wider">classement des seeds</h1>

<div class="border-t-4 border-t-indigo-500 border-transparent ...">
    <br><br>
</div>
<ul class="flex flex-wrap text-2xl font-medium text-center text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400">
    <li class="me-2">
        <a href="#" aria-current="page" class="no-underline inline-block p-4 text-blue-600 bg-gray-100 rounded-t-lg active dark:bg-gray-800 dark:text-blue-500  active text-left font-medium  uppercase tracking-wider hover:no-underline" id="filterLink">Filter</a>
    </li>
    
    
    <li class="me-2">
        <a href="#" class=" no-underline inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300 text-left font-medium text-gray-700 uppercase tracking-wider hover:no-underline" id="uploadLink">classement</a>
    </li>
    
    <li class="me-2">
        <a href="#" class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300 text-left font-medium text-gray-700 uppercase tracking-wider hover:no-underline no-underline" id="downloadLink">export data</a>
    </li>

</ul>


<div class="container mx-auto p-4 my-6">
    <div class="flex">

<!-- Filter Section -->
<div class="w-full max-w-4xl mx-auto p-6 bg-white rounded-lg shadow-lg" id="filterDiv" style="display: none;">
    <!-- <div class="border-t-4 border-indigo-500 mb-6"></div> -->

    <div class="mb-6">
        <form method="get" action="" onsubmit="return submitForm()">
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 ">
            <!-- <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 gap "> -->
                
                <!-- Proxy Selection -->
                <div class="relative">
                    <select class="hamza w-full h-12 px-4 py-2 bg-white border border-gray-300 rounded-lg text-gray-700 focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500" name="id_proxy" id="id_proxy">
                        <option value=""  selected>Select Proxy</option>
                        {% for proxy in all_proxies %}
                        <option value="{{ proxy }}" {% if proxy == id_proxy_query %}selected{% endif %}>{{ proxy }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <!-- Status Selection -->
                <div class="relative">
                    <select class="w-full h-12 px-4 py-2 bg-white border border-gray-300 rounded-lg text-gray-700 focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500" name="statue" id="statue">
                        <option value=""  selected>Select Status</option> 
                        <option value="connect">Connect</option> 
                        <option value="verification">Verification</option> 
                        <option value="blocked">Blocked</option> 
                        <option value="restricted">Restricted</option> 
                        <option value="other">Other</option> 
                    </select> 
                </div>

                <!-- Date Range Inputs -->
                <div class="col-span-2">
                    <div class="flex gap-4 ">
                        <input type="text" class="w-full h-12 px-4 py-2 bg-white border border-gray-300 rounded-lg text-gray-700 placeholder-gray-500 focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500" name="date_action__gte" placeholder="Date Action From (YYYY-MM-DD)">
                        <input type="text" class="w-full h-12 px-4 py-2 bg-white border border-gray-300 rounded-lg text-gray-700 placeholder-gray-500 focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500" name="date_action__lte" placeholder="Date Action To (YYYY-MM-DD)">
                    </div>
                </div>
                
                

                <!-- Search Button -->
                <div class="col-span-2 flex justify-center mt-4">
                    <button class="h-12 px-8 py-2 btn btn-primary btn-md ml-[50%]" type="submit">Search</button>
                </div>
            </div>
            
        </form>
    </div>

    <!-- <div class="border-t-4 border-indigo-500 mb-6"></div> -->
</div>

        <!-- export data  -->
        <div class="flex-none w-1/2 max-w-full px-3" id="downloadDiv" style="display: none;">
            <div class="border-t-2 border-t-indigo-500 border-transparent ...">
                <div class="p-6 pt-0 mt-0 bg-white rounded-lg">
                    <h1 class="mb-4 text-4xl px-6 py-3 text-left font-medium text-gray-700 uppercase tracking-wider mt-4" >CHOOSE FILE TYPE :</h1> 
                    <div class="flex ml-3">
                        <form method="get" action="{% url 'export_table_data' %}" id="export_form">
                            <div class="ml-6 form-group col-md-12 flex">
                                <select id="file_type" name="file_type" class="form-control1 form-control-lg mr-4">
                                    <option value="csv">CSV</option>
                                    <option value="excel">Excel</option>
                                    <option value="text">Text</option>
                                </select>
                                <!-- <input type="hidden" name="id_entity" value="{{ request.GET.id_entity }}">
                                <input type="hidden" name="id_rdp" value="{{ request.GET.id_rdp }}">
                                <input type="hidden" name="id_sess" value="{{ request.GET.id_sess }}"> -->
                                <input type="hidden" name="id_proxy" value="{{ request.GET.id_proxy }}">
                                <input type="hidden" name="statue" value="{{ request.GET.statue }}">
                                <input type="hidden" name="date_action__gte" value="{{ request.GET.date_action__gte }}">
                                <input type="hidden" name="date_action__lte" value="{{ request.GET.date_action__lte }}">
                                <button type="submit" class="btn btn-primary export-button">Export</button>
                            </div>
                        </form>
                    </div>    
                </div>
            </div>
        </div>
        <!-- end export data  -->

        <!-- classement -->
        <div class="flex-none w-1/2 max-w-full px-3" id="uploadDiv" style="display: none;">
            <div class="border-t-2 border-t-indigo-500 border-transparent ...">
                <hr> <hr><hr><hr><hr><hr><hr><hr><hr><hr>
                <div class="p-6 pt-0 mt-0 bg-white">
                    <h1 class="mb-4 text-4xl px-6 py-3 text-left font-medium text-gray-700 uppercase tracking-wider mt-4" {% if selected_role not in roles %} style="display: none;" {% endif %}>Entrer les ids locaux</h1> 
                    <div class="flex ml-3">
                        <form id="deleteForm" method="post">
                            {% csrf_token %}
                            <div>
                                <textarea id="id_locals_input" name="id_locals_input"></textarea>
                                <input type="hidden" name="id_proxy" value="{{ request.GET.id_proxy }}">
                                <input type="hidden" name="id_rdp" value="{{ request.GET.id_rdp }}">
                                <input type="hidden" name="id_sess" value="{{ request.GET.id_sess }}">
                            </div>
                            <div>
                                <button type="button" onclick="showPreview()" class="btn btn-primary ml-8">Preview and delete</button>
                            </div>
                        </form>
                    </div>    
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Preview Modal -->
<div class="modal fade1" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mr-28" id="previewModalLabel">Preview Deletion</h5>
                <button type="button" class="close ml-96" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-body-scroll">
                <table class="table">
                    <thead>
                        <tr>
                            
                            <th>Email</th>
                            <th>Current ID seeds</th>
                            <th>New ID seeds</th>
                        </tr>
                    </thead>
                    <tbody id="previewTableBody"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form id="exportForm" action="{% url 'export_preview_to_csv' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="preview_data" id="previewDataInput">
                    <button type="button" class="btn btn-primary" onclick="exportPreviewToCSV()">Export to CSV</button>
                </form>
                <button type="button" class="btn btn-primary" onclick="confirmDeletion()">Confirm Deletion</button>
                
            </div>
        </div>
    </div>
</div>




<!-- table  -->
<div class="table-container">
    <table class="min-w-full bg-white shadow-md rounded-lg ">
        <thead>
            <tr class="bg-gray-100 text-gray-700 uppercase leading-normal font-bold">
                <th class="py-4 px-6 text-left text-xl"></th>
                <th class="py-4 px-6 text-left text-xl searchable">id seeds</th>
                {% if selected_role in roles %}
                <th class="searchable py-4 px-6 text-left text-xl">email</th>
                <th class="searchable py-4 px-6 text-left text-xl">passwd</th>
                <th class="searchable py-4 px-6 text-left text-xl">rec</th>
                <th class="searchable py-4 px-6 text-left text-xl">new_pass</th>
                <th class="searchable py-4 px-6 text-left text-xl">new_rec</th>
                {% endif %}
                <th class="searchable py-4 px-6 text-left text-xl">date_import</th>
                <th class="py-4 px-6 text-left text-xl searchable">date_action</th>
                <th class="searchable py-4 px-6 text-left text-xl">action</th>
                <th class="searchable py-4 px-6 text-left text-xl">statue</th>
                <th class="searchable py-4 px-6 text-left text-xl">statue Connect</th>
                <th class="py-4 px-6 text-left text-xl searchable">Proxy</th>
                
            </tr>
        </thead>
        <tbody>
            {% for seed in seeds %}
            <tr class="border-b border-gray-200 hover:bg-gray-50">
                <td class="py-4 px-6"></td>

                <td class="py-4 px-6 text-2xl">{{ seed.order }}</td>
                {% if selected_role in roles %}
                <td class="py-4 px-6 text-2xl">{{ seed.email }}</td>
                <td class="py-4 px-6 text-2xl">{{ seed.passwd }}</td>
                <td class="py-4 px-6 text-2xl">{{ seed.rec }}</td>
                <td class="py-4 px-6 text-2xl">{{ seed.new_pass }}</td>
                <td class="py-4 px-6 text-2xl">{{ seed.new_rec }}</td>
                {% endif %}
                <td class="py-4 px-6 text-2xl">{{ seed.date_import|date:"Y-m-d" }}</td>
                <td class="py-4 px-6 text-2xl">{{ seed.date_action|date:"Y-m-d" }}</td>
                <td class="py-4 px-6 text-2xl">{{ seed.action }}</td>
                <td class="py-4 px-6 text-2xl">
                    {% if  seed.statue == "success" %}
                        <span {% if selected_role in roles %} class="align-middle editable badge badge-success rounded-pill d-inline badge-common" {% else %} class="badge badge-success rounded-pill d-inline badge-common" {% endif %} style="background-color: rgb(187, 221, 187); color: rgb(68, 110, 58);" data-field="statue">{{ seed.statue }}</span>
                    {% elif  seed.statue == "failed" %}
                        <span {% if selected_role in roles %} class="align-middle editable badge badge-danger rounded-pill d-inline badge-common" {% else %} class="badge badge-danger rounded-pill d-inline badge-common" {% endif %} style="background-color: rgb(221, 187, 187); color: rgb(110, 58, 68);" data-field="statue">{{ seed.statue }}</span>
                    {% elif  seed.statue == "NULL" %}
                        <span {% if selected_role in roles %} class="align-middle editable badge badge-warning rounded-pill d-inline badge-common" {% else %} class="badge badge-warning rounded-pill d-inline badge-common" {% endif %} style="background-color: rgb(245, 232, 188); color: rgb(90, 60, 31);" data-field="statue">{{ seed.statue }}</span>
                    {% else %}
                        <span {% if selected_role in roles %} class="align-middle editable badge-common" {% endif %} data-field="statue">{{ seed.statue }}</span>
                    {% endif %}
                    {% if selected_role in roles %}
                        <input type="text" class="align-middle edit-input" data-field="statue" value="{{ seed.statue }}" style="display: none;">
                    {% endif %}
                </td>
                <td class="py-4 px-6 text-2xl">
                    {% if seed.statue_connect == "connect"  %}
                        <span {% if selected_role in roles %} class="align-middle editable badge badge-success rounded-pill d-inline badge-common" {% else %} class="badge badge-success rounded-pill d-inline badge-common" {% endif %} style="background-color: rgb(187, 221, 187); color: rgb(68, 110, 58);" data-field="statue_connect">{{ seed.statue_connect }}</span>
                    {% elif seed.statue_connect == "blocked"  %}
                        <span {% if selected_role in roles %} class="align-middle editable badge badge-danger rounded-pill d-inline badge-common" {% else %} class="badge badge-danger rounded-pill d-inline badge-common" {% endif %} style="background-color: rgb(221, 187, 187); color: rgb(110, 58, 68);" data-field="statue_connect">{{ seed.statue_connect }}</span>
                    {% elif seed.statue_connect == "verification"  %}
                        <span {% if selected_role in roles %} class="align-middle editable badge badge-warning rounded-pill d-inline badge-common" {% else %} class="badge badge-warning rounded-pill d-inline badge-common" {% endif %} style="background-color: rgb(245, 232, 188); color: rgb(90, 60, 31);" data-field="statue_connect">{{ seed.statue_connect }}</span>
                    {% else %}
                        <span {% if selected_role in roles %} class="align-middle editable badge-common" {% endif %} data-field="statue_connect">{{ seed.statue_connect }}</span>
                    {% endif %}
                    {% if selected_role in roles %}
                        <input type="text" class="align-middle edit-input" data-field="statue_connect" value="{{ seed.statue_connect }}" style="display: none;">
                    {% endif %}
                </td>
                <td class="py-4 px-6 text-2xl">{{ seed.id_proxy }}</td>
                
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
      

<br><br>

<div>
 
<!-- pagination -->
<div class="clearfix"> 
    <div class="d-flex justify-content-between align-items-center mt-2"> 
        <!-- Align this div to the far left -->
        <div class="hint-text">Showing <b>{{ seeds.start_index }}</b> to <b>{{ seeds.end_index }}</b> of <b>{{ seeds.paginator.count }}</b> entries</div> 
        
        <!-- Align this ul to the center -->
        <ul class="pagination mb-0 custom-pagination" id="pagination" style="margin: 0 auto;"> 
            <!-- Pagination links will be dynamically generated here -->
            <li class="page-item">
                <a class="page-link text-xl px-3 py-2 rounded-l-lg bg-gray-100 text-gray-600 hover:bg-blue-600 hover:text-white transition duration-300" href="#">Previous</a>
            </li>
            <li class="page-item active">
                <a class="page-link text-xl px-3 py-2 bg-blue-600 text-white rounded" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link text-xl px-3 py-2 bg-gray-100 text-gray-600 hover:bg-blue-600 hover:text-white transition duration-300" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link text-xl px-3 py-2 bg-gray-100 text-gray-600 hover:bg-blue-600 hover:text-white transition duration-300" href="#">3</a>
            </li>
            <li class="page-item">
                <a class="page-link text-xl px-3 py-2 rounded-r-lg bg-gray-100 text-gray-600 hover:bg-blue-600 hover:text-white transition duration-300" href="#">Next</a>
            </li>
        </ul> 

        <!-- Align this form to the far right -->
        <form id="columnsForm" method="get" class="d-flex align-items-center ml-3 mt-7"> 
            {% for key, value in request.GET.items %} 
                {% if key != 'columns' %} 
                    <input type="hidden" name="{{ key }}" value="{{ value }}"> 
                {% endif %} 
            {% endfor %} 
            <select class="form-select h-12 text-xl px-3 py-2 border border-gray-300 rounded-lg ml-2" name="columns" id="columns" style="width: 200px;" onchange="changeColumnsPerPage()"> 
                <option value="" id="defaultOption" class="text-xl px-6 py-3 text-left font-medium text-gray-500 uppercase tracking-wider">{{ columns }} éléments par page </option> 
                <option value="2" {% if columns == 2 %} selected {% endif %}>2</option> 
                <option value="4" {% if columns == 4 %} selected {% endif %}>4</option> 
                <option value="10" {% if columns == 10 %} selected {% endif %}>10</option> 
                <option value="50" {% if columns == 50 %} selected {% endif %}>50</option> 
                <option value="100" {% if columns == 100 %} selected {% endif %}>100</option> 
                <option value="1000" {% if columns == 1000 %} selected {% endif %}>1000</option> 
                <option value="{{ seeds.paginator.count }}" {% if columns == seeds.paginator.count %} selected {% endif %}>all</option>

            </select> 
        </form> 
    </div> 
</div>





<script>
    document.addEventListener('DOMContentLoaded', function() {
        const totalPages = parseInt("{{ seeds.paginator.num_pages|default:0 }}");
        const currentPage = parseInt("{{ seeds.number|default:1 }}");
        const columnsPerPage = parseInt("{{ columns|default:10 }}");
        const urlParams = new URLSearchParams(window.location.search);

        function createPageLink(page, text, isActive = false) {
            const li = document.createElement('li');
            li.className = `page-item custom-page-item ${isActive ? 'active' : ''}`;
            const a = document.createElement('a');
            a.className = 'page-link custom-page-link';
            a.href = `?${urlParams.toString()}&page=${page}&columns=${columnsPerPage}`;
            a.textContent = text;
            li.appendChild(a);
            return li;
        }

        function updatePagination() {
            const pagination = document.getElementById('pagination');
            pagination.innerHTML = '';

            

            if (currentPage > 4 ) {
                if (currentPage != 5){
                pagination.appendChild(createPageLink(1, '1'));
                pagination.appendChild(createPageLink(2, '2'));
               
                pagination.appendChild(createPageLink(3, '...'));
            }
            }
            if (currentPage == 5) {
                pagination.appendChild(createPageLink(1, '1'));
                pagination.appendChild(createPageLink(2, '2'));
                // pagination.appendChild(createPageLink(3, '3'));
                // pagination.appendChild(createPageLink(4, '4'));
                pagination.appendChild(createPageLink(5, '...'));
            }
            if (currentPage == 4) {
                pagination.appendChild(createPageLink(1, '1'));
               
            }
            for (let i = Math.max(1, currentPage - 2); i <= Math.min(totalPages, currentPage + 2); i++) {
                pagination.appendChild(createPageLink(i, i, i === currentPage));
            }

            if (currentPage < totalPages - 3) {
                pagination.appendChild(createPageLink(totalPages - 2, '...'));
                
                pagination.appendChild(createPageLink(totalPages - 1, totalPages - 1));
                pagination.appendChild(createPageLink(totalPages, totalPages));
            }

           
        }

        updatePagination();
    });

    
</script>




<script>  
    function changeColumnsPerPage() {  
        var select = document.getElementById("columns");  
        var selectedOption = select.options[select.selectedIndex].value;  
        var defaultOption = document.getElementById("defaultOption");  
        defaultOption.textContent = select.options[select.selectedIndex].textContent;  
        // Mettre à jour la valeur de la colonne dans la session  
        fetch('?columns=' + selectedOption, { method: 'GET' });  
        // Soumettre le formulaire lorsque la sélection change  
        document.getElementById("columnsForm").submit();  
    }  
  
    function exportData() {  
        var select = document.getElementById("export_format_select");  
        var selectedFormat = select.options[select.selectedIndex].value;  
        if (selectedFormat) {  
            // Soumettre le formulaire d'exportation  
            document.getElementById("exportForm").submit();  
        } else {  
            alert("Veuillez sélectionner un format d'exportation.");  
        }  
    }  
</script>
        
      


<div id="csrf-token" data-csrf="{{ csrf_token }}"></div>




<!-- script pour preview -->
<script>
    function exportPreviewToCSV() {
        // Gather data from the preview table
        const rows = document.querySelectorAll('#previewTableBody tr');
        let previewData = [];

        rows.forEach(row => {
            const columns = row.querySelectorAll('td');
            const rowData = {
                
                email: columns[0].innerText,
                order: columns[2].innerText,
                new_id_seeds: columns[3].innerText,
            };
            previewData.push(rowData);
        });

        // Convert data to JSON and set it as the value of the hidden input field
        document.getElementById('previewDataInput').value = JSON.stringify(previewData);

        // Submit the form
        document.getElementById('exportForm').submit();
    }
</script>




<script>
    function showPreview() {
        const idLocalsInput = document.getElementById('id_locals_input').value;
        const id_proxy = '{{ request.GET.id_proxy }}';
        // const id_rdp = '{{ request.GET.id_rdp }}';
        // const id_sess = '{{ request.GET.id_sess }}';
        //if (!id_entity && !id_rdp && !id_sess) {
          //      toastr.warning('Veuillez sélectionner au moins un filtre avant de prévisualiser.');
         //       return;
          //  } 
    
        $.ajax({
            type: 'POST',
            url: "{% url 'delete_multiple_seeds' %}",
            data: {
                'id_locals_input': idLocalsInput,
                'id_proxy': id_proxy,
                // 'id_rdp': id_rdp,
                // 'id_sess': id_sess,
                'preview': 'true',
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                
                let tableBody = document.getElementById('previewTableBody');
                tableBody.innerHTML = '';
                response.forEach(function(seed) {
                    let row = `<tr>
                        
                        <td>${seed.email}</td>
                        <td>${seed.order}</td>
                         <td>${seed.new_id_local}</td>
                    </tr>`;
                    tableBody.insertAdjacentHTML('beforeend', row);
                });
                $('#previewModal').modal('show');
            }
            
        });
            // Add event listener to hide the modal when close button is clicked
            document.querySelector('#previewModal .modal-header button[data-dismiss="modal"]').addEventListener('click', function() {
            $('#previewModal').modal('hide');
        });
            document.querySelector('#previewModal .modal-footer button[data-dismiss="modal"]').addEventListener('click', function() {
            $('#previewModal').modal('hide');
        });
    }
    
    function confirmDeletion() {
        const form = document.getElementById('deleteForm');
        form.action = "{% url 'delete_multiple_seeds' %}";
        form.submit();
    }
    
    </script>
        



<!-- Script JavaScript --> 
<script> 
    // Fonction pour extraire les paramètres de l'URL 
    function getUrlParams(url) { 
        var params = {}; 
        url.slice(url.indexOf('?') + 1).split('&').forEach(function(param) { 
            var paramTuple = param.split('='); 
            params[paramTuple[0]] = decodeURIComponent(paramTuple[1]); 
        }); 
        return params; 
    } 
 
    // Variables pour stocker les valeurs sélectionnées précédemment 
    var urlParams = getUrlParams(window.location.href); 
    var selectedEntityId = urlParams['id_entity'] || '';
    var selectedRdpId = urlParams['id_rdp'] || '';
    var selectedSessionId = urlParams['id_sess'] || '';
    var selectedProxyId = urlParams['id_proxy'] || '';
    var selectedStatue = urlParams['statue'] || '';
    var selectedDateActionGte = urlParams['date_action__gte'] || '';
    var selectedDateActionLte = urlParams['date_action__lte'] || '';
 
    // Fonction pour remplir le menu déroulant RDP avec les valeurs pour une entité donnée 
    function getRdpsForEntity(entityId) { 
        fetch('/fetch_rdp?entity_id=' + entityId) 
            .then(response => response.json()) 
            .then(data => { 
                populateRdpDropdown(data); 
                // Stockez l'ID de l'entité sélectionnée 
                selectedEntityId = entityId; 
            }); 
    } 
 
    // Fonction pour remplir le menu déroulant Session avec les valeurs pour un RDP donné 
    function getSessionsForRdp(rdpId) { 
        fetch('/fetch_session?rdp_id=' + rdpId) 
            .then(response => response.json()) 
            .then(data => { 
                populateSessionDropdown(data); 
                // Stockez l'ID du RDP sélectionné 
                selectedRdpId = rdpId; 
            }); 
    } 
 
    // Remplir les menus déroulants avec les valeurs sélectionnées précédemment 
    document.addEventListener('DOMContentLoaded', function() { 
        var entityDropdown = document.getElementById('id_entity');
    var rdpDropdown = document.getElementById('id_rdp');
    var sessionDropdown = document.getElementById('id_sess');
    var proxyDropdown = document.getElementById('id_proxy');
    var statueDropdown = document.getElementById('statue');
    var dateActionGteInput = document.querySelector('input[name="date_action__gte"]');
    var dateActionLteInput = document.querySelector('input[name="date_action__lte"]'); 

    // Populate proxy dropdown
    proxyDropdown.value = selectedProxyId;

    // Populate statue dropdown
    statueDropdown.value = selectedStatue;

    // Populate date action from field
    dateActionGteInput.value = selectedDateActionGte;

    // Populate date action to field
    dateActionLteInput.value = selectedDateActionLte;

 
        // Remplir le menu déroulant d'entité avec la valeur sélectionnée précédemment 
        if (selectedEntityId) { 
            entityDropdown.value = selectedEntityId; 
            // Si une entité est sélectionnée, remplir également le menu déroulant RDP correspondant 
            if (selectedEntityId) { 
                getRdpsForEntity(selectedEntityId); 
            } 
        } 
 
        // Remplir le menu déroulant RDP avec la valeur sélectionnée précédemment 
        if (selectedRdpId) { 
            rdpDropdown.value = selectedRdpId; 
            // Si un RDP est sélectionné, remplir également le menu déroulant Session correspondant 
            if (selectedRdpId) { 
                getSessionsForRdp(selectedRdpId); 
            } 
        } 
        
 
        // Remplir le menu déroulant Session avec la valeur sélectionnée précédemment 
        if (selectedSessionId) { 
            sessionDropdown.value = selectedSessionId; 
        } 
    }); 
 
    // Function  RDP dropdown 
    function populateRdpDropdown(data) { 
        var select = document.getElementById('id_rdp'); 
        var previousValue = select.value; // Sauvegarde de la valeur précédente 
        select.innerHTML = ''; 
         
        var emptyOption = document.createElement('option'); 
        emptyOption.value = ''; 
        emptyOption.textContent = 'Select RDP'; 
        select.appendChild(emptyOption); 
         
        data.forEach(function(rdp) { 
            var option = document.createElement('option'); 
            option.value = rdp.id_rdp; 
            option.textContent = rdp.nom; 
            select.appendChild(option); 
        }); 
 
        // Restauration de la valeur précédente si elle existe 
        if (previousValue) { 
            select.value = previousValue; 
        } 
    } 
 
    // Function  Session dropdown 
    function populateSessionDropdown(data) { 
        var select = document.getElementById('id_sess'); 
        var previousValue = select.value; // Sauvegarde de la valeur précédente 
 
        select.innerHTML = ''; 
         
        var emptyOption = document.createElement('option'); 
        emptyOption.value = '';
        emptyOption.textContent = 'Select Session'; 
        select.appendChild(emptyOption); 
         
        data.forEach(function(session) { 
            var option = document.createElement('option'); 
            option.value = session.id_sess; 
            option.textContent = session.name; 
            select.appendChild(option); 
        }); 
         // Restauration de la valeur précédente si elle existe 
         if (previousValue) { 
            select.value = previousValue; 
        } 
    } 
 
    // Event  for entity dropdown change 
    document.getElementById('id_entity').addEventListener('change', function() { 
        var entity_id = this.value; 
        fetch('/fetch_rdp/?entity_id=' + entity_id) 
            .then(response => response.json()) 
            .then(data => { 
                populateRdpDropdown(data); 
            }); 
    }); 
 
    // Event  for RDP dropdown change 
    document.getElementById('id_rdp').addEventListener('change', function() { 
        var rdp_id = this.value; 
        fetch('/fetch_session/?rdp_id=' + rdp_id) 
            .then(response => response.json()) 
            .then(data => { 
                populateSessionDropdown(data); 
                // Stockez l'ID du RDP sélectionné 
                selectedRdpId = rdp_id; 
            }); 
    }); 
</script>




 <!-- <script>
    // JavaScript for filters

// Function  RDP dropdown
function populateRdpDropdown(data) {
    var select = document.getElementById('id_rdp');
    select.innerHTML = '';
    
    var emptyOption = document.createElement('option');
    emptyOption.value = '';
    emptyOption.textContent = 'Select RDP';
    select.appendChild(emptyOption);
    
    data.forEach(function(rdp) {
        var option = document.createElement('option');
        option.value = rdp.id_rdp;
        option.textContent = rdp.nom;
        select.appendChild(option);
    });
}

// Function  Session dropdown
function populateSessionDropdown(data) {
    var select = document.getElementById('id_sess');
    select.innerHTML = '';
    
    var emptyOption = document.createElement('option');
    emptyOption.value = '';
    emptyOption.textContent = 'Select Session';
    select.appendChild(emptyOption);
    
    data.forEach(function(session) {
        var option = document.createElement('option');
        option.value = session.id_sess;
        option.textContent = session.name;
        select.appendChild(option);
    });
}

// Event  for entity dropdown change
document.getElementById('id_entity').addEventListener('change', function() {
    var entity_id = this.value;
    fetch('/fetch_rdp/?entity_id=' + entity_id)
        .then(response => response.json())
        .then(data => {
            populateRdpDropdown(data);
        });
});

// Event  for RDP dropdown change
document.getElementById('id_rdp').addEventListener('change', function() {
    var rdp_id = this.value;
    fetch('/fetch_session/?rdp_id=' + rdp_id)
        .then(response => response.json())
        .then(data => {
            populateSessionDropdown(data);
        });
});

// end JavaScript for filters
 </script> -->

<script>
    document.getElementById("validerButton").addEventListener("click", function() {
        $('#previewModal').modal('hide');
    
        var oldIdLocalData = [];
        var rows = document.querySelectorAll("#previewModal tbody tr");
        rows.forEach(function(row) {
            var oldIdLocalCell = row.querySelector("td:nth-child(3)");
            var newIdLocalCell = row.querySelector("td:nth-child(4)");
            oldIdLocalCell.textContent = newIdLocalCell.textContent; // Mettre à jour la valeur de l'ancien ID Local avec la nouvelle valeur
            oldIdLocalData.push(newIdLocalCell.textContent); // Ajouter la nouvelle valeur à la liste des anciens IDs locaux
        });
    
        var csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
        console.log(oldIdLocalData); // Ajout pour le débogage
        $.ajax({
            type: 'POST',
            url: '/save_old_ids/',
            headers: {
                'X-CSRFToken': csrfToken,
                'X-Requested-With': 'XMLHttpRequest'
            },
            data: {
                'old_id_local_data': oldIdLocalData.join(',')
            },
            success: function(response) {
                console.log(response);
            },
            error: function(xhr, status, error) {
                console.error("Erreur AJAX:", error);
            }
        });
    });

    // Add event listener to hide the modal when close button is clicked
    document.querySelector('#previewModal .modal-footer button[data-dismiss="modal"]').addEventListener('click', function() {
        $('#previewModal').modal('hide');
    });
</script>





   <script>
    $(document).ready(function() {
        let lastClicked = '';

        // Function to toggle filter div
        function toggleFilterDiv() {
            $('#filterDiv').toggle();
            if ($('#filterDiv').is(':visible')) {
                localStorage.setItem('filterVisible', 'true');
            } else {
                localStorage.setItem('filterVisible', 'false');
            }
        }

        // Function to show filter div
        function showFilterDiv() {
            $('#filterDiv').show();
            localStorage.setItem('filterVisible', 'true');
        }

        // Function to hide filter div
        function hideFilterDiv() {
            $('#filterDiv').hide();
            localStorage.setItem('filterVisible', 'false');
        }

        // Function to set active link style
        function setActiveLink(linkName) {
            $('#filterLink, #uploadLink, #downloadLink').removeClass('active text-blue-600 bg-gray-100 dark:bg-gray-800 dark:text-blue-500 no-underline hover:no-underline');
            $('#' + linkName + 'Link').addClass('active text-blue-600 bg-gray-100 dark:bg-gray-800 dark:text-blue-500 no-underline hover:no-underline');
        }

        
       // Function to adjust the width of the select dropdown
function adjustSelectWidth(isHalfWidth) {
    const selectContainer = $('.select2-container--default');

    if (isHalfWidth) {
        selectContainer.css('max-width', '100%');
    } else {
        selectContainer.css('min-width', '100%');
    }
}

// Event listeners for tab links
$('#filterLink').click(function(event) {
    event.preventDefault();
    if (lastClicked === 'filter') {
        toggleFilterDiv();
    } else {
        showFilterDiv();
    }
    setActiveLink('filter');
    $('#uploadDiv, #downloadDiv').hide();
    adjustSelectWidth(false); // Set to full width when filter is clicked
    lastClicked = 'filter';
    localStorage.setItem('lastClicked', 'filter');
});


$('#uploadLink').click(function(event) {
            event.preventDefault();
            $('#uploadDiv').toggle();
            $('#downloadDiv').hide();
            adjustSelectWidth(true); // Set to half width when upload is clicked
            if ($('#uploadDiv').is(':visible')) {
                showFilterDiv();
                setActiveLink('upload');
                lastClicked = 'upload';
                localStorage.setItem('lastClicked', 'upload');
            } else {
                hideFilterDiv();
                setActiveLink('filter');
                lastClicked = 'filter';
                localStorage.setItem('lastClicked', 'filter');
            }
        });


$('#downloadLink').click(function(event) {
    event.preventDefault();
    $('#downloadDiv').toggle();
    $('#uploadDiv').hide();
    if ($('#downloadDiv').is(':visible')) {
        showFilterDiv();
        setActiveLink('download');
        adjustSelectWidth(true); // Set to half width when download is clicked
        lastClicked = 'download';
        localStorage.setItem('lastClicked', 'download');
    } else {
        hideFilterDiv();
        setActiveLink('download');
        adjustSelectWidth(true); // Set to half width when download is clicked
        lastClicked = 'download';
        localStorage.setItem('lastClicked', 'download');
    }
});

        // Initial setup on page load
        if (localStorage.getItem('filterVisible') !== 'false') {
            $('#filterDiv').show();
        } else {
            $('#filterDiv').hide();
        }

        const activeTab = localStorage.getItem('lastClicked');
        if (activeTab === 'upload') {
            $('#uploadDiv').show();
            $('#downloadDiv').hide();
        } else if (activeTab === 'download') {
            $('#downloadDiv').show();
            $('#uploadDiv').hide();
        } else {
            $('#uploadDiv, #downloadDiv').hide();
        }

        if (activeTab) {
            setActiveLink(activeTab);
            lastClicked = activeTab;
        }
    });
</script>


<!-- filter by date action  -->
<script>
    function validateDateFormat(dateString) {
      // Regular expression to check YYYY-MM-DD format
      const dateRegex = /^\d{4}-\d{2}-\d{2}$/;
    
      // Check if the string matches the expected format
      return dateRegex.test(dateString);
    }
    
    function submitForm() {
      const dateFromInput = document.querySelector('input[name="date_action__gte"]');
      const dateToInput = document.querySelector('input[name="date_action__lte"]');
    
      // Validate start date format
      if (dateFromInput.value && !validateDateFormat(dateFromInput.value)) {
        toastr.warning('Le format de la date de début est incorrect. Veuillez entrer une date au format YYYY-MM-DD.');
        return false;
      }
    
      // Validate end date format
      if (dateToInput.value && !validateDateFormat(dateToInput.value)) {
        toastr.warning('Le format de la date de fin est incorrect. Veuillez entrer une date au format YYYY-MM-DD.');
        return false;
      }
    
      // If formats are correct, submit the form
      return true;
    }
    
    </script>


<script>
    $(document).ready(function() {
        $('.hamza').select2();
    });
</script>
{% endblock %}



