{% extends 'app/base.html' %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<!-- Toastr CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

<style>
    .form-inline {
        display: flex;
        align-items: center;
        width: 100%;
    }
    .form-group {
        margin-right: 10px;
    }
    .form-group:last-child {
        margin-right: 0;
    }
    .w-100 {
        width: 100%;
    }
    .flex-grow-1 {
        flex-grow: 1;
    }
    .flex-shrink-1 {
        flex-shrink: 1;
    }
</style>

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row ">
                <h1 class="mb-4 text-5xl px-6 py-3 text-left font-medium text-gray-700 uppercase tracking-wider">Dashboards Analytics</h1>
                <div class="border-t-4 border-t-indigo-500 border-transparent ...">
                    <br><br>
                </div>

            </div>
        </div>
        <div class="container-full-width">
            <div class="row">
                    
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body" style="width: 600px; height:600px;">
                            <h5 class="card-title">Connection Status Count</h5>
                            <div id="proxyUsageChart1" style="max-height: 400px; margin-top: 50px;"></div>
                            <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                            <script>
                                function updateChart() {
                                    fetch('/api/statue_connect_count__/')
                                        .then(response => response.json())
                                        .then(data => {
                                            if (data.length === 0) {
                                                plotEmptyChart('No connection status data available.');
                                                return;
                                            }
                
                                            const statues = data.map(item => item.statue_connect);
                                            const counts = data.map(item => item.count);
                
                                            // Générer une palette de couleurs différentes pour chaque barre
                                            const colors = statues.map((_, index) => `hsl(${index * 50}, 70%, 50%)`);
                
                                            // Construire des étiquettes avec les comptes
                                            const labelsWithCounts = statues.map((label, index) => 
                                                `${label.charAt(0).toUpperCase() + label.slice(1)} (${counts[index]})`
                                            );
                
                                            const trace = {
                                                x: labelsWithCounts,
                                                y: counts,
                                                type: 'bar',
                                                marker: {
                                                    color: colors // Attribuer des couleurs uniques à chaque barre
                                                }
                                            };
                
                                            const layout = {
                                                title: 'Connection Status Count',
                                                xaxis: { title: 'Status' },
                                                yaxis: { title: 'Count' }
                                            };
                
                                            Plotly.newPlot('proxyUsageChart1', [trace], layout);
                                        })
                                        .catch(error => console.error('Error:', error));
                                }
                
                                // Fonction pour afficher un graphique vide si aucune donnée
                                function plotEmptyChart(message) {
                                    const layout = {
                                        title: message,
                                        xaxis: { title: 'Status' },
                                        yaxis: { title: 'Count' }
                                    };
                                    Plotly.newPlot('proxyUsageChart1', [], layout);
                                }
                                
                                // Chargement initial
                                updateChart();
                            </script>
                        </div>
                    </div>
                </div>
                
                






            <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">ALL Statut of Seeds</h5>
                    <form id="filterForm1" class="form-inline">
                    <div class="form-group flex-grow-1 mx-1">
                            <select class="form-control w-100" name="statue_type" id="statue_type" data-toggle="tooltip" data-placement="top" title="Select the type of status to filter by" onchange="updateStatueOptions()">
                                <option value="" selected>Select Type of Status</option>
                                <option value="statue_connect">Connection Status</option>
                                <option value="statue_change_password">Password Change Status</option>
                                <option value="statue_change_recovery">Recovery Change Status</option>
                                <option value="statue_it_was_me">It Was Me Status</option>
                                <option value="statue_delete_device">Delete Device Status</option>
                                <option value="statue_authenticator">Authenticator Status</option>
                                <option value="statue_alternate_email">Alternate Email Status</option>
                                <option value="statue_2FA">2FA Status</option>
                                <option value="statue_backup">Backup Status</option>
                                <option value="statue_delete_phone">Delete Phone Status</option>
                            </select>
                        </div>
                        <div class="form-group flex-grow-1 mx-1">
                            <select class="form-control w-100" name="statue_value" id="statue_value" data-toggle="tooltip" data-placement="top" title="Select the status to filter by">
                                <option value="" selected>Select Status</option>
                            </select>
                        </div>

                        <div class="form-group flex-grow-1 mx-1">
                            <input type="date" id="start_date1" name="start_date" class="form-control w-100" placeholder="Start Date" data-toggle="tooltip" data-placement="top" title="Select the start date for the filter">
                        </div>
                        <div class="form-group flex-grow-1 mx-1">
                            <input type="date" id="end_date1" name="end_date" class="form-control w-100" placeholder="End Date" data-toggle="tooltip" data-placement="top" title="Select the end date for the filter">
                        </div>

                        <button type="button" class="btn btn-primary flex-shrink-1" onclick="updateChart1()">Filter</button>
                    </form>
                    <div id="proxyUsageChart" style="max-height: 400px; margin-top: 20px;"></div>
                    <script>
                        function updateStatueOptions() {
                            const statueType = document.getElementById('statue_type').value;
                        
                            if (!statueType) return; // Pas de type sélectionné
                        
                            // Mise à jour des options de statut en fonction du type sélectionné
                            fetch(`/api/get_statue_options/?statue_type=${statueType}`)
                                .then(response => response.json())
                                .then(data => {
                                    const statueValueSelect = document.getElementById('statue_value');
                                    statueValueSelect.innerHTML = ''; // Réinitialiser le select des statuts
                        
                                    const defaultOption = document.createElement('option');
                                    defaultOption.value = '';
                                    defaultOption.textContent = 'Select Status';
                                    statueValueSelect.appendChild(defaultOption);
                        
                                    data.statues.forEach(statue => {
                                        const option = document.createElement('option');
                                        option.value = statue;
                                        option.textContent = statue.charAt(0).toUpperCase() + statue.slice(1);
                                        statueValueSelect.appendChild(option);
                                    });
                        
                                    updateDateFields(statueType); // Mettre à jour les champs de date
                                })
                                .catch(error => console.error('Error fetching statue options:', error));
                        }
                        
                        function updateDateFields(statueType) {
                            // Masquer tous les champs de date
                            document.getElementById('start_date1').style.display = 'none';
                            document.getElementById('end_date1').style.display = 'none';
                        
                            // En fonction du type de statut, afficher le champ de date approprié
                            if (statueType === 'statue_connect') {
                                document.getElementById('start_date1').name = 'start_date_connect';
                                document.getElementById('end_date1').name = 'end_date_connect';
                            } else if (statueType === 'statue_change_password') {
                                document.getElementById('start_date1').name = 'start_date_password';
                                document.getElementById('end_date1').name = 'end_date_password';
                            } else if (statueType === 'statue_change_recovery') {
                                document.getElementById('start_date1').name = 'start_date_recovery';
                                document.getElementById('end_date1').name = 'end_date_recovery';
                            } else if (statueType === 'statue_it_was_me') {
                                document.getElementById('start_date1').name = 'start_date_it_was_me';
                                document.getElementById('end_date1').name = 'end_date_it_was_me';
                            } else if (statueType === 'statue_delete_device') {
                                document.getElementById('start_date1').name = 'start_date_delete_device';
                                document.getElementById('end_date1').name = 'end_date_delete_device';
                            } else if (statueType === 'statue_authenticator') {
                                document.getElementById('start_date1').name = 'start_date_authenticator';
                                document.getElementById('end_date1').name = 'end_date_authenticator';
                            } else if (statueType === 'statue_alternate_email') {
                                document.getElementById('start_date1').name = 'start_date_alternate_email';
                                document.getElementById('end_date1').name = 'end_date_alternate_email';
                            } else if (statueType === 'statue_2FA') {
                                document.getElementById('start_date1').name = 'start_date_2FA';
                                document.getElementById('end_date1').name = 'end_date_2FA';
                            } else if (statueType === 'statue_backup') {
                                document.getElementById('start_date1').name = 'start_date_backup';
                                document.getElementById('end_date1').name = 'end_date_backup';
                            } else if (statueType === 'statue_delete_phone') {
                                document.getElementById('start_date1').name = 'start_date_delete_phone';
                                document.getElementById('end_date1').name = 'end_date_delete_phone';
                            }
                        
                            // Réafficher les champs de date
                            document.getElementById('start_date1').style.display = 'block';
                            document.getElementById('end_date1').style.display = 'block';
                        }
                        
                    </script>
             

                    <script>
                        function initDefaultChart() {
                            const defaultData = [{
                                labels: [],
                                values: [],
                                type: 'pie',
                                marker: {
                                    colors: ['#D3D3D3'], // Couleur de fond gris
                                }
                            }];
                    
                            const layout = {
                                title: 'Statut des Seeds',
                                height: 400,
                                width: 500,
                                paper_bgcolor: '#f5f5f5', // Fond gris pour le graphique
                                plot_bgcolor: '#f5f5f5', // Fond gris pour le tracé
                                showlegend: false // Ne pas afficher la légende
                            };
                    
                            // Tracer le graphique vide
                            Plotly.newPlot('proxyUsageChart', defaultData, layout);
                        }
                    
                        function updateChart1() {
                            const statueType = document.getElementById('statue_type').value;
                            const statueValue = document.getElementById('statue_value').value;
                            const startDate = document.getElementById('start_date1').value;
                            const endDate = document.getElementById('end_date1').value;
                        
                            // Vérifier si au moins un champ de filtre est rempli
                            if (!statueType && !statueValue && !startDate && !endDate) {
                                // Afficher une alerte si aucun champ n'est rempli
                                alert("Vous devez appliquer au moins un filtre.");
                                return; // Arrêter l'exécution de la fonction si aucun champ n'est rempli
                            }
                        
                            // Construire les paramètres pour l'API
                            const params = new URLSearchParams({
                                statue_type: statueType,
                                statue_value: statueValue,
                                start_date: startDate,
                                end_date: endDate
                            });
                        
                            // Effectuer une requête fetch pour récupérer les données filtrées
                            fetch(`/api/statues_connect_countall/?${params}`)
                                .then(response => response.json())
                                .then(data => {
                                    if (data.length > 0) {
                                        // Appeler la fonction pour tracer le pie chart avec les données récupérées
                                        plotPieChart(data, statueType);
                                    } else {
                                        // Alerte lorsque aucune donnée n'est trouvée
                                        alert("Aucune donnée trouvée pour les filtres sélectionnés.");
                                        console.error("No data found for the selected filters.");
                                    }
                                })
                                .catch(error => {
                                    console.error('Error fetching filtered data:', error);
                                });
                        }
                        
                        // Fonction pour tracer un pie chart avec Plotly.js
                        function plotPieChart(data, statueType) {
                            // Récupérer les labels et les valeurs depuis les données
                            const labels = data.map(item => item[statueType]);
                            const values = data.map(item => item.count);
                        
                            // Construire des étiquettes avec les comptes
                            const labelsWithCounts = labels.map((label, index) => `${label.charAt(0).toUpperCase() + label.slice(1)} (${values[index]})`);
                        
                            const chartData = [{
                                labels: labelsWithCounts,
                                values: values,
                                type: 'pie'
                            }];
                        
                            const layout = {
                                title: 'Statut des Seeds',
                                height: 400,
                                width: 500
                            };
                        
                            // Tracer le pie chart dans l'élément #proxyUsageChart
                            Plotly.newPlot('proxyUsageChart', chartData, layout);
                        }
                        
                        // Appeler la fonction d'initialisation lors du chargement de la page
                        window.onload = initDefaultChart;
                        document.addEventListener('DOMContentLoaded', initDefaultChart);
                      
                    
                    </script>
                    

                    
                </div>
            </div>
        </div>

            









        <div class="col-lg-6"> 
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Statut Connexion</h5>
                    <form id="filterFormConnect" class="form-inline">
                        <div class="form-group flex-grow-1 mx-1">
                            <select class="form-control w-100" name="statue_connect" id="statue_connect" data-toggle="tooltip" data-placement="top" title="Select Connection Status to filter by">
                                <option value="" selected>Select Connection Status</option>
                                <!-- Les options dynamiques seront chargées ici -->
                            </select>
                        </div>
                        <div class="form-group flex-grow-1 mx-1">
                            <input type="date" id="start_date_connect" name="start_date" class="form-control w-100" placeholder="Start Date">
                        </div>
                        <div class="form-group flex-grow-1 mx-1">
                            <input type="date" id="end_date_connect" name="end_date" class="form-control w-100" placeholder="End Date">
                        </div>
                        <div class="form-group flex-grow-1 mx-1">
                            <select id="chart_type_connect" class="form-control w-100" name="chart_type">
                                <option value="pie" selected>Pie Chart</option>
                                <option value="bar">Bar Chart</option>
                                <option value="line">Line Chart</option>
                            </select>
                        </div>
                        <button type="button" class="btn btn-primary flex-shrink-1" onclick="updateChartConnect()">Filter</button>
                    </form>
                    <div id="connectionStatusChart" style="max-height: 400px; margin-top: 20px;"></div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-6"> 
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Statut 2FA</h5>
                    <form id="filterForm2" class="form-inline">
                        <div class="form-group flex-grow-1 mx-1">
                            <select class="form-control w-100" name="statue_2FA" id="statue_2FA" data-toggle="tooltip" data-placement="top" title="Select 2FA Status to filter by">
                                <option value="" selected>Select 2FA Status</option>
                                <!-- Les options dynamiques seront chargées ici -->
                            </select>
                        </div>
                        <div class="form-group flex-grow-1 mx-1">
                            <input type="date" id="start_date2" name="start_date" class="form-control w-100" placeholder="Start Date">
                        </div>
                        <div class="form-group flex-grow-1 mx-1">
                            <input type="date" id="end_date2" name="end_date" class="form-control w-100" placeholder="End Date">
                        </div>
                        <div class="form-group flex-grow-1 mx-1">
                            <select id="chart_type2" class="form-control w-100" name="chart_type2">
                                <option value="pie" selected>Pie Chart</option>
                                <option value="bar">Bar Chart</option>
                                <option value="line">Line Chart</option>
                            </select>
                        </div>
                        <button type="button" class="btn btn-primary flex-shrink-1" onclick="updateChart2()">Filter</button>
                    </form>
                    <div id="errorStatusChart" style="max-height: 400px; margin-top: 20px;"></div>
                </div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();

        // Charger les options pour les deux selects au chargement de la page
        loadSelectOptions('statue_connect', 'statue_connect');
        loadSelectOptions('statue_2FA', 'statue_2FA');
    });

    function loadSelectOptions(selectId, statueType) {
        const url = `/api/get_statue_options/?statue_type=${statueType}`;
        
        fetch(url)
            .then(response => response.json())
            .then(data => {
                const selectElement = document.getElementById(selectId);
                const options = data.statues;

                // Ajouter les options dans le <select>
                options.forEach(option => {
                    const opt = document.createElement('option');
                    opt.value = option;
                    opt.textContent = option.charAt(0).toUpperCase() + option.slice(1);  // Capitalize first letter
                    selectElement.appendChild(opt);
                });
            })
            .catch(error => console.error('Error fetching options:', error));
    }

  // Fonction pour mettre à jour le graphique pour Statue Connect
function updateChartConnect() {
    const statueConnect = document.getElementById('statue_connect').value || '';
    const startDate = document.getElementById('start_date_connect').value || '';
    const endDate = document.getElementById('end_date_connect').value || '';
    const chartType = document.getElementById('chart_type_connect').value || 'pie';

    let url = '/api/statue_connect_count/';
    let params = new URLSearchParams();

    // Ajouter les paramètres de filtre
    if (statueConnect) {
        params.append('statue_connect', statueConnect);
    }
    if (startDate) {
        params.append('start_date', startDate);
    }
    if (endDate) {
        params.append('end_date', endDate);
    }

    url += `?${params.toString()}`;

    fetch(url)
        .then(response => response.json())
        .then(data => {
            if (data.length === 0) {
                // Alerte lorsque aucune donnée n'est trouvée
                alert("Aucune donnée trouvée pour les filtres sélectionnés.");
                return;
            }

            const statues = data.map(item => item.statue_connect);
            const counts = data.map(item => item.count);

            // Palette de couleurs personnalisées
            const colors = [
                '#FF5733', '#33FF57', '#3357FF', '#F7DC6F', 
                '#AF7AC5', '#48C9B0', '#F1948A', '#5D6D7E',
                '#7FB3D5', '#76D7C4', '#F8C471', '#D98880'
            ];

            // Assignation des couleurs selon l'index
            const assignedColors = statues.map((_, index) => colors[index % colors.length]);

            // Construire des étiquettes avec les comptes
            const labelsWithCounts = statues.map((label, index) => `${label.charAt(0).toUpperCase() + label.slice(1)} (${counts[index]})`);

            let trace;
            if (chartType === 'pie') {
                trace = {
                    labels: labelsWithCounts,
                    values: counts,
                    type: 'pie',
                    hole: .4,
                    textinfo: 'label+percent',
                    hoverinfo: 'label+value+percent',
                    marker: {
                        colors: assignedColors, // Couleurs personnalisées
                        line: { color: '#FFFFFF', width: 2 }
                    }
                };
            } else if (chartType === 'bar') {
                trace = {
                    x: labelsWithCounts,
                    y: counts,
                    type: 'bar',
                    marker: {
                        color: assignedColors // Couleurs personnalisées
                    }
                };
            } else if (chartType === 'line') {
                trace = {
                    x: labelsWithCounts,
                    y: counts,
                    type: 'scatter',
                    mode: 'lines+markers',
                    marker: { color: '#28a745' } // Couleur fixe pour le graphique en ligne
                };
            }

            const layout = {
                title: 'Connection Status Distribution',
                showlegend: chartType === 'pie'
            };

            Plotly.newPlot('connectionStatusChart', [trace], layout);
        })
        .catch(error => console.error('Error:', error));
}

// Charger les graphiques par défaut lors du chargement de la page
function loadDefaultChart() {
    updateChart2(); // Mettre à jour le graphique 2FA
    updateChartConnect(); // Mettre à jour le graphique de statut de connexion
}

// Appeler la fonction d'initialisation lors du chargement de la page
window.onload = loadDefaultChart;

// Fonction pour mettre à jour le graphique pour 2FA Status
function updateChart2() {
    const statue2FA = document.getElementById('statue_2FA').value || '';
    const startDate = document.getElementById('start_date2').value || '';
    const endDate = document.getElementById('end_date2').value || '';
    const chartType = document.getElementById('chart_type2').value || 'pie';

    let url = '/api/statue_2FA_count/';
    let params = new URLSearchParams();

    // Ajouter les paramètres de filtre
    if (statue2FA) {
        params.append('statue_2FA', statue2FA);
    }
    if (startDate) {
        params.append('start_date', startDate);
    }
    if (endDate) {
        params.append('end_date', endDate);
    }

    url += `?${params.toString()}`;

    fetch(url)
        .then(response => response.json())
        .then(data => {
            if (data.length === 0) {
                // Alerte lorsque aucune donnée n'est trouvée
                alert("Aucune donnée trouvée pour les filtres sélectionnés.");
                return;
            }

            const statues = data.map(item => item.statue_2FA);
            const counts = data.map(item => item.count);

            // Déterminer les couleurs en fonction du statut
            const colors = statues.map(status => {
                if (status.toLowerCase() === 'success') {
                    return '#28a745'; // Vert pour succès
                } else if (status.toLowerCase() === 'failed') {
                    return '#dc3545'; // Rouge pour échec
                }
                return '#007bff'; // Couleur par défaut pour d'autres statuts
            });

            // Construire des étiquettes avec les comptes
            const labelsWithCounts = statues.map((label, index) => `${label.charAt(0).toUpperCase() + label.slice(1)} (${counts[index]})`);

            let trace;
            if (chartType === 'pie') {
                trace = {
                    labels: labelsWithCounts,
                    values: counts,
                    type: 'pie',
                    hole: .4,
                    textinfo: 'label+percent',
                    hoverinfo: 'label+value+percent',
                    marker: {
                        colors: colors, // Utiliser les couleurs assignées
                        line: { color: '#FFFFFF', width: 2 }
                    }
                };
            } else if (chartType === 'bar') {
                trace = {
                    x: labelsWithCounts,
                    y: counts,
                    type: 'bar',
                    marker: {
                        color: colors // Utiliser les couleurs assignées
                    }
                };
            } else if (chartType === 'line') {
                trace = {
                    x: labelsWithCounts,
                    y: counts,
                    type: 'scatter',
                    mode: 'lines+markers',
                    marker: { color: '#28a745' } // Couleur fixe pour le graphique en ligne
                };
            }

            const layout = {
                title: '2FA Status Distribution',
                showlegend: chartType === 'pie'
            };

            Plotly.newPlot('errorStatusChart', [trace], layout);
        })
        .catch(error => console.error('Error:', error));
}

// Charger les graphiques par défaut lors du chargement de la page
function loadDefaultChart() {
    updateChart2(); // Mettre à jour le graphique 2FA
    updateChartConnect(); // Mettre à jour le graphique de statut de connexion
}

// Appeler la fonction d'initialisation lors du chargement de la page
window.onload = loadDefaultChart;


    document.addEventListener('DOMContentLoaded', loadDefaultChart);
</script>

    </div>
</div>

                                           


                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Seeds & Old seeds Count</h5>
                            <form id="filter-form">
                                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-4">
                                    <!-- Form fields -->
                                    <div class="form-group col-span-1">
                                        <div class="relative h-12">
                                            <select class="form-control1 form-control-sm form-select1" name="id_entity" id="id_entity">
                                                <option value="">Select Entity</option>
                                                {% for entity in entity_choices %}
                                                <option value="{{ entity.id_entity }}">{{ entity.nom }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-span-1">
                                        <div class="relative h-12">
                                            <select class="form-control1 form-control-sm form-select1" name="id_rdp" id="id_rdp">
                                                <option value="">Select RDP</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-span-1">
                                        <div class="relative h-12">
                                            <select class="form-control1 form-control-sm form-select1" name="id_sess" id="id_sess">
                                                <option value="">Select Session</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-span-1">
                                        <div class="relative h-12">
                                            <select class="form-control1 form-control-sm form-select1" name="id_proxy" id="id_proxy">
                                                <option value="">Select Proxy</option>
                                                {% for proxy in proxies_choices %}
                                                <option value="{{ proxy.id_proxy }}">{{ proxy.IP }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <!-- Status and Search button aligned horizontally -->
                                    <div class="form-group col-span-2 flex items-center">
                                        <div class="relative h-12 flex-grow">
                                            <select class="form-control1 form-control-sm form-select1 w-full" name="statue" id="statue">
                                                <option value="">Select Status</option>
                                                <option value="connected">Connect</option>
                                                <option value="verificated">Verification</option>
                                                <option value="blocked">Blocked</option>
                                            </select>
                                        </div>
                                        <button class="btn btn-primary btn-sm ml-4" type="submit" id="filter-btn">Search</button>
                                    </div>
                                </div>
                            </form>
                            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                          
                            <canvas id="seedsChart" style="max-height: 400px;"></canvas>
                        </div>
                    </div>
                </div>

                    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                 
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Number of Actions by User Role</h5>
                                <div id="action-chart" style="max-height: 400px;"></div>
                            </div>
                        </div>
                    </div>
                    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

        
                <div class="col-lg-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Action Count by Name</h5>
                                            <div id="actionCountByNameChart" style="max-height: 400px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
 
              </div>
        </div>
        

    </div>
</div>




<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% url 'user_roles_data' %}"></script>
<script src="{% url 'get_seeds_data' %}"></script>
 

<script>
    async function fetchData(url) {
        const response = await fetch(url);
        const data = await response.json();
        return data;
    }

    async function renderChart(canvasId, url, chartType, label) {
        const data = await fetchData(url);
        const ctx = document.getElementById(canvasId).getContext('2d');

        // Couleurs spécifiques pour les rôles
        const backgroundColors = [
            'rgba(255, 99, 132, 0.2)',  // Rouge
            'rgba(153, 102, 255, 0.2)', // Mauve
            'rgba(54, 162, 235, 0.2)',  // Bleu
            'rgba(75, 75, 75, 0.2)',    // Noir
            'rgba(255, 206, 86, 0.2)'   // Jaune
        ];

        const borderColors = [
            'rgba(255, 99, 132, 1)',    // Rouge
            'rgba(153, 102, 255, 1)',   // Mauve
            'rgba(54, 162, 235, 1)',    // Bleu
            'rgba(75, 75, 75, 1)',      // Noir
            'rgba(255, 206, 86, 1)'     // Jaune
        ];

        new Chart(ctx, {
            type: chartType,
            data: {
                labels: data.labels,
                datasets: [{
                    label: label,
                    data: data.data,
                    backgroundColor: backgroundColors.slice(0, data.labels.length),
                    borderColor: borderColors.slice(0, data.labels.length),
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
 
                 ticks: {
                    stepSize: 1,  // Définit le pas de 1
                    beginAtZero: true
                }
                    }
                }
            }
        });
    }

    renderChart('userRolesChart', '/api/user_roles_data/', 'bar', 'Users by Role');
</script>    


 
<script>
        let seedsChart = null;
    
        document.getElementById('filter-form').addEventListener('submit', function(event) {
            event.preventDefault();
    
            var entity = document.getElementById('id_entity').value;
            var rdp = document.getElementById('id_rdp').value;
            var session = document.getElementById('id_sess').value;
            var proxy = document.getElementById('id_proxy').value;
            var status = document.getElementById('statue').value;
    
            var url = `/get_seeds_data/?id_entity=${entity}&id_rdp=${rdp}&id_sess=${session}&id_proxy=${proxy}&statue=${status}`;
    
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    if (seedsChart) {
                        seedsChart.destroy();
                    }
                    var ctx = document.getElementById('seedsChart').getContext('2d');
                    seedsChart = new Chart(ctx, {
                        type: 'bar',
                        data: data,
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                });
        });
    
        document.getElementById('id_entity').addEventListener('change', function() {
            var entityId = this.value;
            fetch(`/get_rdps/?entity_id=` + entityId)
                .then(response => response.json())
                .then(data => {
                    var rdpSelect = document.getElementById('id_rdp');
                    rdpSelect.innerHTML = '<option value="">Select RDP</option>';
                    data.forEach(function(rdp) {
                        var option = document.createElement('option');
                        option.value = rdp.id_rdp;
                        option.text = rdp.nom;
                        rdpSelect.appendChild(option);
                    });
                });
        });
    
        document.getElementById('id_rdp').addEventListener('change', function() {
            var rdpId = this.value;
            fetch(`/get_sessions/?rdp_id=` + rdpId)
                .then(response => response.json())
                .then(data => {
                    var sessionSelect = document.getElementById('id_sess');
                    sessionSelect.innerHTML = '<option value="">Select Session</option>';
                    data.forEach(function(session) {
                        var option = document.createElement('option');
                        option.value = session.id_sess;
                        option.text = session.name;
                        sessionSelect.appendChild(option);
                    });
                });
        });
    </script>
   <script>
fetch('/api/users_by_entity_chart/')
.then(response => response.json())
.then(data => {
const ctx = document.getElementById('usersByEntityChart').getContext('2d');
new Chart(ctx, {
type: 'bar',
data: {
labels: data.labels,
datasets: [{
label: 'Nombre d\'utilisateurs par entité',
data: data.data,

backgroundColor: randomColorArray(data.labels.length), // Générer des couleurs aléatoires pour chaque barre
borderColor: 'rgba(54, 162, 235, 1)', // Couleur des bordures des barres
borderWidth: 1
}]
},
options: {
scales: {
y: {
    ticks: {
                    stepSize: 1,  // Définit le pas de 1
                    beginAtZero: true
                }}
}
}
});
                console.log(data);

});

// Fonction pour générer un tableau de couleurs aléatoires en fonction du nombre de barres
function randomColorArray(length) {
const colors = [];
for (let i = 0; i < length; i++) {
colors.push(`rgba(${Math.floor(Math.random() * 256)}, ${Math.floor(Math.random() * 256)}, ${Math.floor(Math.random() * 256)}, 0.6)`);
}
return colors;
}
</script>
<script>
async function fetchData(url) {
const response = await fetch(url);
const data = await response.json();
return data;
}

async function renderRdpCountChart() {
const url = '/api/rdp_count_by_entity/';
const data = await fetchData(url);
const ctx = document.getElementById('rdpCountByEntityChart').getContext('2d');

new Chart(ctx, {
    type: 'polarArea',
    data: {
        labels: data.labels,
        datasets: [{
            label: 'RDP Count by Entity',
            data: data.data,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            r: {
                beginAtZero: true
            }
        }
    }
});
}

renderRdpCountChart();
</script> 
<script>
async function fetchData(url) {
    const response = await fetch(url);
    const data = await response.json();
    return data;
}

function getRandomColor() {
    const letters = '0123456789ABCDEF';
    let color = '#';
    for (let i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
}

async function renderRdpCountChart() {
    const url = '/api/rdp_count_by_entity/';
    const data = await fetchData(url);
    const labels = data.labels;
    const values = data.data;

    const trace = {
        type: 'polar',
        r: values,
        theta: labels,
        fill: 'toself',
        name: 'RDP Count by Entity'
    };

    const layout = {
        title: 'RDP Count by Entity',
        polar: {
            radialaxis: {
                visible: true,
                range: [0, Math.max(...values) + 1]
            }
        }
    };

    Plotly.newPlot('rdpCountByEntityChart', [trace], layout);
}

async function renderSessionCountChart() {
    const url = '/api/session_count_by_rdp/';
    const data = await fetchData(url);
    const labels = data.labels;
    const values = data.data;

    const colors = labels.map(() => getRandomColor());

    const trace = {
        x: labels,
        y: values,
        type: 'bar',
        marker: {
            color: colors
        },
        name: 'Session Count by RDP'
    };

    const layout = {
        title: 'Session Count by RDP',
        xaxis: {
            title: 'RDP'
        },
        yaxis: {
            title: 'Number of Sessions'
        }
    };

    Plotly.newPlot('sessionCountByRdpChart', [trace], layout);
}

renderRdpCountChart();
renderSessionCountChart();
</script>
<script>
        async function fetchData(url) {
            const response = await fetch(url);
            const data = await response.json();
            return data;
        }
    
        async function renderActionCountChart() {
            const url = '/api/action_count_by_name/';
            const data = await fetchData(url);
            const labels = data.labels;
            const values = data.data;
    
            const trace = {
                labels: labels,
                values: values,
                type: 'pie'
            };
    
            const layout = {
                title: 'Action Count by Name'
            };
    
            Plotly.newPlot('actionCountByNameChart', [trace], layout);
        }
    
        renderActionCountChart();
    </script>
<script>
        document.addEventListener('DOMContentLoaded', function() {
            fetch('/action_counts_by_role/')
                .then(response => response.json())
                .then(data => {
                    var roles = data.roles;
                    var action_counts = data.action_counts;

                    var uniqueRoles = [...new Set(roles)];
                    var colors = Plotly.d3.scale.category10().range();

                    var traces = uniqueRoles.map((role, index) => {
                        var roleCounts = action_counts.filter((_, i) => roles[i] === role);
                        var roleLabels = roles.filter(r => r === role);

                        return {
                            x: roleLabels,
                            y: roleCounts,
                            type: 'bar',
                            name: role,
                            marker: {
                                color: colors[index % colors.length]
                            }
                        };
                    });

                    var layout = {
                        title: 'Number of Actions by User Role',
                        xaxis: {
                            title: 'Role'
                        },
                        yaxis: {
                            title: 'Number of Actions'
                        },
                        barmode: 'stack'
                    };

                    Plotly.newPlot('action-chart', traces, layout);
                });
        });
    </script>  







 {% endblock %}