{% extends 'base.html' %}
{% block content %}


<h1 class="mb-7 text-center text-5xl text-white">Gestion des <b> Historiques</b></h1>
<!-- <h1 class="mb-7 text-5xl" >Gestion des <b> Historiques</b></h1> -->
<div class="border-t-4 border-t-indigo-500 border-transparent ...">
    <br><br>
</div>


<!-- Wrapper Container -->
<div class="d-flex justify-content-between align-items-center mb-4">

    <form id="exportForm" method="post" action="{% url 'export_history' %}">
        {% csrf_token %}
        <div class="d-flex justify-content-between form-row align-items-center">
            <div class="form-group mb-0">
                <select class="form-control1 form-control-lg" id="export_format_select" name="export_format">
                    <option value="">Format d'exportation</option>
                    <option value="csv">CSV</option>
                    <option value="txt">TXT</option>
                </select>
            </div>
            <div class="form-group ml-2 mb-0">
                <button type="button" class="rounded-lg group bg-gradient-to-br from-purple-500 via-purple-600 to-purple-700 hover:from-purple-400 hover:via-purple-500 hover:to-purple-600 text-white px-6 py-2 rounded flex items-center btn-sm" onclick="exportData()">Exporter</button>
            </div>
        </div>
    </form>

    <!-- Delete Button (Right Aligned) -->
    <div>
        <button type="button" 
            class="rounded-lg group bg-gradient-to-br from-purple-500 via-purple-600 to-purple-700 hover:from-purple-400 hover:via-purple-500 hover:to-purple-600 text-white px-6 py-2 rounded flex items-center" 
            data-toggle="modal" data-target="#deleteHistoryModal">
            <i class="fas fa-trash-alt mr-2"></i> <span>Delete All</span>
        </button>
    </div>
</div>




<!-- Table -->
<div class="table-container">
    <table class="min-w-full bg-[#1E293B] shadow-lg rounded-lg overflow-hidden">
        <thead>
            <tr class="bg-[#0F172A] text-white uppercase leading-normal font-semibold">
                <th class="py-4 px-6 text-left text-lg border-b border-gray-700">ID Action</th>
                <th class="py-4 px-6 text-left text-lg border-b border-gray-700">Nom Action</th>
                <th class="py-4 px-6 text-left text-xl content-center justify-center flex">Description</th>
                <th class="py-4 px-6 text-left text-lg border-b border-gray-700">Date Action</th>
                <th class="py-4 px-6 text-left text-lg border-b border-gray-700">User</th>
            </tr>
        </thead>
        <tbody class="text-gray-300">
            {% for action in actions %}
                <tr class="hover:bg-[#334155]">
                    <td class="py-4 px-6 text-base border-b border-gray-700">{{ action.id }}</td>
                    <td class="py-4 px-6 text-base border-b border-gray-700">{{ action.action }}</td>
                    <td class="text-xl py-4 px-6 text-base border-b border-gray-700">{{ action.infos|safe }}</td>
                    <td class="py-4 px-6 text-base border-b border-gray-700">{{ action.date_action }}</td>
                    <td class="py-4 px-6 text-base border-b border-gray-700">{{ action.user.first_name }} {{ action.user.last_name }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5" class="py-4 px-6 text-center text-gray-400 border-b border-gray-700">
                        No History available at the moment.
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
</div>




<!-- Modal Delete -->
<div id="deleteHistoryModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content bg-[#1E293B] text-gray-300 border border-gray-700 shadow-lg rounded-lg">
            <form id="confirmDeleteForm" action="{% url 'delete_history' %}" method="post">
                {% csrf_token %}
                <!-- Modal Header -->
                <div class="modal-header d-flex justify-between border-b border-gray-600">
                    <h4 class="modal-title text-2xl font-semibold text-gray-200">Supprimer l'historique</h4>
                    <button type="button" class="close text-gray-400 hover:text-gray-200" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    <p class="text-gray-300">Etes-vous sûr de vouloir supprimer les actions historiques ?</p>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer border-t border-gray-600">
                    <button type="button" class="btn text-gray-300 bg-gray-700 hover:bg-gray-600 rounded px-4 py-2" data-dismiss="modal">
                        Annuler
                    </button>
                    <button type="submit" class="rounded-lg group bg-gradient-to-br from-purple-500 via-purple-600 to-purple-700 hover:from-purple-400 hover:via-purple-500 hover:to-purple-600 text-white px-6 py-2 rounded flex items-center">
                        Supprimer
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>



<script>
        function exportData() {
        var select = document.getElementById("export_format_select");
        var selectedFormat = select.options[select.selectedIndex].value;
        if (selectedFormat) {
            // Soumettre le formulaire d'exportation
            document.getElementById("exportForm").submit();
        } else {
            alert("Veuillez sélectionner un format d'exportation.");
        }
    }
</script>
{% endblock %}